{% extends "global/Base.html" %}
{% load otree_tags staticfiles %}

{% block title %}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'global/matrix.css' %}" />

    <style>
        .highlight-row-on-hover:hover td {
            background-color: #fcf8e3;
        }

    </style>

{% endblock %}

{% block content %}
<div class="card">
  <div class="card-header"> Your Points </div>
  <div class="card-body" style="margin-bottom: -10px; font-family: Helvetica !important;">
    <div class="container">
      <div class="row">
        <div class="col-8 float-start">
          <ul style="list-style-type: none; padding: 0;">
            <li>
              <b> {{ unit_def_payoff }} points </b> for each player choosing <b> Not collaborate </b>: {{ unit_def_payoff}} × {{ n_D }} = {{ def_payoff }}
            </li>
            <li>
              <b> {{ unit_coop_payoff }} points </b> for each player choosing <b> Collaborate </b>: {{ unit_coop_payoff }} × {{ n_C }} = {{ coop_payoff }}
            </li>
            <li>
              {% if bonus %}
                <em> You chose {{ my_decision }}. You get a bonus of {{ unit_bonus }} × {{ n_D }} = {{ bonus }}. </em>
              {% else %}
                <em> You chose {{ my_decision }}. You don't get a bonus. </em>
              {% endif %}
            </li>
          </ul>
        </div>
        <div class="col-4 ml-auto" style="text-align:right;">
          <ul style="list-style-type: none; padding: 0;">
            <li>
              <b> Points earned: {{ coop_payoff }} + {{ def_payoff }} + {{ bonus }} = {{ last_payoff }} </b>
            </li>
            <li>
              <b> Total points: </b> {{ last_payoff }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<br>

<!-- viewBox="0 0 508.32 584.89" -->

<div>
  <br>
  <div container="container">
    <div class="row">
        <div class="col float-start">
            <div style="text-align:center">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 508.32 584.89" width="420px" height="420px">
              <defs>
                <style>
                  .a, .b {
                    fill: none;
                    stroke: #cccccb;
                  }

                  .a, .b, .d, .f {
                    stroke-miterlimit: 10;
                  }

                  .b {
                    stroke-dasharray: 4 4;
                  }

                  .c {
                    font-size: 20px;
                  }

                  .c, .e, .h, .l {
                    fill: #231f20;
                  }

                  .c, .e, .k {
                    font-family: Helvetica;
                  }

                  .d {
                    fill: #c64d9c;
                  }

                  .d, .f {
                    stroke: #fff;
                  }

                  .e {
                    font-size: 28px;
                  }

                  .f {
                    fill: #97cef0;
                  }

                  .g {
                    fill: #cccccb;
                  }

                  .h {
                    font-size: 23.9px;
                  }

                  .h, .m {
                    font-family: Helvetica-Bold, Helvetica;
                    font-weight: 700;
                  }

                  .i {
                    letter-spacing: -0.07em;
                  }

                  .j {
                    letter-spacing: 0em;
                  }

                  .k {
                    font-weight: 400;
                  }

                  .l {
                    font-size: 15px;
                    font-family: Helvetica-Light, Helvetica;
                    font-weight: 300;
                  }
                </style>
              </defs>
              <g>
                <g>
                  <line class="a" x1="252.44" y1="255.87" x2="252.44" y2="253.37"/>
                  <line class="b" x1="252.44" y1="248.48" x2="252.44" y2="84.59"/>
                  <line class="a" x1="252.44" y1="82.15" x2="252.44" y2="79.65"/>
                </g>
                <g>
                  <line class="a" x1="252.44" y1="255.87" x2="251.67" y2="253.49"/>
                  <line class="b" x1="250.16" y1="248.84" x2="199.52" y2="92.98"/>
                  <line class="a" x1="198.76" y1="90.65" x2="197.99" y2="88.27"/>
                </g>
                <g>
                  <line class="a" x1="252.44" y1="255.87" x2="250.97" y2="253.85"/>
                  <line class="b" x1="248.1" y1="249.89" x2="151.77" y2="117.31"/>
                  <line class="a" x1="150.33" y1="115.33" x2="148.86" y2="113.3"/>
                </g>
                <g>
                  <line class="a" x1="252.44" y1="255.87" x2="250.42" y2="254.4"/>
                  <line class="b" x1="246.46" y1="251.53" x2="113.88" y2="155.2"/>
                  <line class="a" x1="111.9" y1="153.76" x2="109.87" y2="152.29"/>
                </g>
                <g>
                  <line class="a" x1="252.44" y1="255.87" x2="250.07" y2="255.1"/>
                  <line class="b" x1="245.41" y1="253.59" x2="89.55" y2="202.94"/>
                  <line class="a" x1="87.22" y1="202.19" x2="84.84" y2="201.42"/>
                </g>
                <g>
                  <line class="a" x1="252.44" y1="255.87" x2="249.94" y2="255.87"/>
                  <line class="b" x1="245.05" y1="255.87" x2="81.17" y2="255.87"/>
                  <line class="a" x1="78.72" y1="255.87" x2="76.22" y2="255.87"/>
                </g>
                <g>
                  <line class="a" x1="252.44" y1="255.87" x2="250.07" y2="256.64"/>
                  <line class="b" x1="245.41" y1="258.16" x2="89.55" y2="308.8"/>
                  <line class="a" x1="87.22" y1="309.56" x2="84.84" y2="310.33"/>
                </g>
                <g>
                  <line class="a" x1="252.44" y1="255.87" x2="250.42" y2="257.34"/>
                  <line class="b" x1="246.46" y1="260.22" x2="113.88" y2="356.55"/>
                  <line class="a" x1="111.9" y1="357.98" x2="109.87" y2="359.45"/>
                </g>
                <g>
                  <line class="a" x1="252.44" y1="255.87" x2="250.97" y2="257.89"/>
                  <line class="b" x1="248.1" y1="261.85" x2="151.77" y2="394.44"/>
                  <line class="a" x1="150.33" y1="396.42" x2="148.86" y2="398.44"/>
                </g>
                <g>
                  <line class="a" x1="252.44" y1="255.87" x2="251.67" y2="258.25"/>
                  <line class="b" x1="250.16" y1="262.9" x2="199.52" y2="418.77"/>
                  <line class="a" x1="198.76" y1="421.09" x2="197.99" y2="423.47"/>
                </g>
                <g>
                  <line class="a" x1="252.44" y1="255.87" x2="252.44" y2="258.37"/>
                  <line class="b" x1="252.44" y1="263.26" x2="252.44" y2="427.15"/>
                  <line class="a" x1="252.44" y1="429.6" x2="252.44" y2="432.1"/>
                </g>
                <g>
                  <line class="a" x1="252.44" y1="255.87" x2="253.22" y2="258.25"/>
                  <line class="b" x1="254.73" y1="262.9" x2="305.37" y2="418.77"/>
                  <line class="a" x1="306.13" y1="421.09" x2="306.9" y2="423.47"/>
                </g>
                <g>
                  <line class="a" x1="252.44" y1="255.87" x2="253.91" y2="257.89"/>
                  <line class="b" x1="256.79" y1="261.85" x2="353.12" y2="394.44"/>
                  <line class="a" x1="354.56" y1="396.42" x2="356.02" y2="398.44"/>
                </g>
                <g>
                  <line class="a" x1="252.44" y1="255.87" x2="254.47" y2="257.34"/>
                  <line class="b" x1="258.42" y1="260.22" x2="391.01" y2="356.55"/>
                  <line class="a" x1="392.99" y1="357.98" x2="395.01" y2="359.45"/>
                </g>
                <g>
                  <line class="a" x1="252.44" y1="255.87" x2="254.82" y2="256.64"/>
                  <line class="b" x1="259.47" y1="258.16" x2="415.34" y2="308.8"/>
                  <line class="a" x1="417.66" y1="309.56" x2="420.04" y2="310.33"/>
                </g>
                <g>
                  <line class="a" x1="252.44" y1="255.87" x2="254.94" y2="255.87"/>
                  <line class="b" x1="259.84" y1="255.87" x2="423.72" y2="255.87"/>
                  <line class="a" x1="426.17" y1="255.87" x2="428.67" y2="255.87"/>
                </g>
                <g>
                  <line class="a" x1="252.44" y1="255.87" x2="254.82" y2="255.1"/>
                  <line class="b" x1="259.47" y1="253.59" x2="415.34" y2="202.94"/>
                  <line class="a" x1="417.66" y1="202.19" x2="420.04" y2="201.42"/>
                </g>
                <g>
                  <line class="a" x1="252.44" y1="255.87" x2="254.47" y2="254.4"/>
                  <line class="b" x1="258.42" y1="251.53" x2="391.01" y2="155.2"/>
                  <line class="a" x1="392.99" y1="153.76" x2="395.01" y2="152.29"/>
                </g>
                <g>
                  <line class="a" x1="252.44" y1="255.87" x2="253.91" y2="253.85"/>
                  <line class="b" x1="256.79" y1="249.89" x2="353.12" y2="117.31"/>
                  <line class="a" x1="354.56" y1="115.33" x2="356.02" y2="113.3"/>
                </g>
                <g>
                  <line class="a" x1="252.44" y1="255.87" x2="253.22" y2="253.49"/>
                  <line class="b" x1="254.73" y1="248.84" x2="305.37" y2="92.98"/>
                  <line class="a" x1="306.13" y1="90.65" x2="306.9" y2="88.27"/>
                </g>
              </g>
              <text class="c" transform="translate(258.31 44.49) rotate(-90)">P{{ opponents.0 }}</text>
              <text class="c" transform="translate(258.31 508.29) rotate(-90)">P{{ opponents.1 }}</text>
              <text class="c" transform="translate(180.02 497.75) rotate(-72)">P{{ opponents.2 }}</text>
              <text class="c" transform="translate(108.82 463.53) rotate(-54)">P{{ opponents.3 }}</text>
              <text class="c" transform="translate(51.68 408.99) rotate(-36)">P{{ opponents.4 }}</text>
              <text class="c" transform="translate(14.19 339.45) rotate(-18)">P{{ opponents.5 }}</text>
              <text class="c" transform="translate(0 261.76)">P{{ opponents.6 }}</text>
              <text class="c" transform="matrix(0.95, 0.31, -0.31, 0.95, 10.53, 183.47)">P{{ opponents.7 }}</text>
              <text class="c" transform="matrix(0.81, 0.59, -0.59, 0.81, 44.75, 112.26)">P{{ opponents.8 }}</text>
              <text class="c" transform="matrix(0.59, 0.81, -0.81, 0.59, 99.29, 55.1)">P{{ opponents.9 }}</text>
              <text class="c" transform="translate(168.83 17.61) rotate(72)">P{{ opponents.10 }}</text>
              <text class="c" transform="translate(312.18 458.72) rotate(72)">P{{ opponents.11 }}</text>
              <text class="c" transform="translate(371.94 430.33) rotate(54)">P{{ opponents.12 }}</text>
              <text class="c" transform="matrix(0.81, 0.59, -0.59, 0.81, 420, 384.87)">P{{ opponents.13 }}</text>
              <text class="c" transform="translate(451.66 326.77) rotate(18)">P{{ opponents.14 }}</text>
              <text class="c" transform="translate(463.82 261.74)">P{{ opponents.15 }}</text>
              <text class="c" transform="matrix(0.95, -0.31, 0.31, 0.95, 455.29, 196.14)">P{{ opponents.16 }}</text>
              <text class="c" transform="matrix(0.81, -0.59, 0.59, 0.81, 426.9, 136.38)">P{{ opponents.17 }}</text>
              <text class="c" transform="matrix(0.59, -0.81, 0.81, 0.59, 381.44, 88.31)">P{{ opponents.18 }}</text>
              <text class="c" transform="translate(323.35 56.65) rotate(-72)">P{{ opponents.19 }}</text>
              <!-- <g>
                <circle id=circ0 class="d" cx="252.44" cy="79.65" r="21.68"/>
                <text id=text0 class="e" transform="translate(242.09 89.24)">N</text>
              </g> -->
              <g>
                <circle id=circ1 class="d" cx="356.02" cy="113.3" r="21.68"/>
                <text id=text1 class="e" transform="matrix(0.81, 0.59, -0.59, 0.81, 342.01, 114.98)">N</text>
              </g>
              <g>
                <circle id=circ2 class="d" cx="420.04" cy="201.42" r="21.68"/>
                <text id=text2 class="e" transform="matrix(0.31, 0.95, -0.95, 0.31, 407.72, 194.54)">N</text>
              </g>
              <g>
                <circle id=circ3 class="d" cx="420.04" cy="310.33" r="21.68"/>
                <text id=text3 class="e" transform="matrix(-0.31, 0.95, -0.95, -0.31, 414.12, 297.52)">N</text>
              </g>
              <g>
                <circle id=circ4 class="d" cx="356.02" cy="398.44" r="21.68"/>
                <text id=text4 class="e" transform="matrix(-0.81, 0.59, -0.59, -0.81, 358.76, 384.59)">N</text>
              </g>
              <g>
                <circle id=circ5 class="d" cx="252.44" cy="432.1" r="21.68"/>
                <text id=text5 class="e" transform="translate(262.79 422.5) rotate(180)">N</text>
              </g>
              <g>
                <circle id=circ6 class="d" cx="148.86" cy="398.44" r="21.68"/>
                <text id=text6 class="e" transform="matrix(-0.81, -0.59, 0.59, -0.81, 162.87, 396.76)">N</text>
              </g>
              <g>
                <circle id=circ7 class="d" cx="84.84" cy="310.33" r="21.68"/>
                <text id=text7 class="e" transform="matrix(-0.31, -0.95, 0.95, -0.31, 97.17, 317.21)">N</text>
              </g>
              <g>
                <circle id=circ8 class="d" cx="84.84" cy="201.42" r="21.68"/>
                <text id=text8 class="e" transform="matrix(0.31, -0.95, 0.95, 0.31, 90.77, 214.22)">N</text>
              </g>
              <g>
                <circle id=circ9 class="d" cx="148.86" cy="113.3" r="21.68"/>
                <text id=text9 class="e" transform="matrix(0.81, -0.59, 0.59, 0.81, 146.13, 127.15)">N</text>
              </g>
              <g>
                <circle id=circ10 class="f" cx="306.9" cy="88.27" r="21.68"/>
                <text id=text10 class="e" transform="matrix(0.95, 0.31, -0.31, 0.95, 294.09, 94.2)">C</text>
              </g>
              <g>
                <circle id=circ11 class="f" cx="395.01" cy="152.29" r="21.68"/>
                <text id=text11 class="e" transform="matrix(0.59, 0.81, -0.81, 0.59, 381.17, 149.56)">C</text>
              </g>
              <g>
                <circle id=circ12 class="d" cx="428.67" cy="255.87" r="21.68"/>
                <text id=text12 class="e" transform="translate(419.07 245.52) rotate(90)">N</text>
              </g>
              <g>
                <circle id=circ13 class="d" cx="395.01" cy="359.45" r="21.68"/>
                <text id=text13 class="e" transform="translate(393.33 345.44) rotate(126)">N</text>
              </g>
              <g>
                <circle id=circ14 class="f" cx="306.9" cy="423.47" r="21.68"/>
                <text id=text14 class="e" transform="translate(313.78 411.15) rotate(162)">C</text>
              </g>
              <g>
                <circle id=circ15 class="f" cx="197.99" cy="423.47" r="21.68"/>
                <text id=text15 class="e" transform="translate(210.8 417.54) rotate(-162)">C</text>
              </g>
              <g>
                <circle id=circ16 class="f" cx="109.87" cy="359.45" r="21.68"/>
                <text id=text16 class="e" transform="matrix(-0.59, -0.81, 0.81, -0.59, 123.72, 362.19)">C</text>
              </g>
              <g>
                <circle id=circ17 class="f" cx="76.22" cy="255.87" r="21.68"/>
                <text id=text17 class="e" transform="matrix(0, -1, 1, 0, 85.81, 266.22)">C</text>
              </g>
              <g>
                <circle id=circ18 class="f" cx="109.87" cy="152.29" r="21.68"/>
                <text id=text18 class="e" transform="matrix(0.59, -0.81, 0.81, 0.59, 111.55, 166.3)">C</text>
              </g>
              <g>
                <circle id=circ19 class="f" cx="197.99" cy="88.27" r="21.68"/>
                <text id=text19 class="e" transform="matrix(0.95, -0.31, 0.31, 0.95, 191.11, 100.6)">C</text>
              </g>
              <circle id=circ20 class="g" cx="252.44" cy="255.87" r="41.65"/>
              <g>
                <circle id=circ0 class="d" cx="252.44" cy="79.65" r="21.68"/>
                <text id=text0 class="e" transform="translate(242.09 89.24)">N</text>
              </g>
              <text class="h" transform="translate(230.75 248.46)"><tspan class="i">You</tspan><tspan class="k"><tspan x="-4.9" y="28.68"> {{ opponents.20 }}</tspan></tspan></text>
              <g>
                <g>
                  <circle class="f" cx="52.16" cy="561.83" r="21.68"/>
                  <text class="e" transform="translate(41.81 571.42)">C</text>
                </g>
                <text class="l" transform="translate(95.84 557.31)">Chose to <tspan class="m" x="64.2" y="0">Cooperate</tspan><tspan x="0" y="18">in last round</tspan></text>
              </g>
              <g>
                <text class="l" transform="translate(323.35 557.3)">Chose to <tspan class="m" x="64.2" y="0">Not Cooperate</tspan><tspan x="0" y="18">in last round</tspan></text>
                <g>
                  <circle class="d" cx="279.67" cy="561.83" r="21.68"/>
                  <text class="e" transform="translate(269.32 571.42)">N</text>
                </g>
              </g>
            </svg>

            </div>
        </div>
        <div class="col ml-auto">
            <div class="form-group required">
              <br>
              <br>
              <br>
              <table class="table table-bordered text-center" style="width: auto; margin: auto">
                <tr>
                    <th colspan="2" rowspan="2"> <b style="color: blue;"> Please make your choice </b> </th>
                    <th colspan="2"><center style="color: gray;">Player X</center></th>
                    </tr>
                    <tr>
                        <th><center style="color: gray;">Collaborate</center></th>
                        <th><center style="color: gray;">Don't collaborate</center></th>
                    </tr>
                <tr class="highlight-row-on-hover">
                        <th rowspan="2"><span style="color: blue;">You</span></th>
                        <td> <center style="color: blue;"><b>Collaborate<b></center> </td>
                        <td  style="font-size: 1.5em;"><b style="color: blue;">5</b>, <b style="color: gray;">5</b></td>
                        <td  style="font-size: 1.5em;"><b style="color: blue;">1</b>, <b style="color: gray;">8</b></td>
                </tr>
                <tr class="highlight-row-on-hover">
                        <td><center style="color: blue;"><b>Don't collaborate</b></center></td>
                        <td style="font-size: 1.5em;"><b style="color: blue">8</b>, <b style="color: gray;">1</b></td>
                        <td style="font-size: 1.5em;"><b style="color: blue">2</b>, <b style="color: gray;">2</b></td>
                </tr>
              </table>
              <!-- {{ form.decision.errors }} -->
            </div>
            <br>
            <div style="margin: auto; text-align:center;">
              <button name="decision" value="C" class="btn btn-primary btn-large">Collaborate</button>
              <button name="decision" value="D" class="btn btn-primary btn-large">Don't collaborate</button>
            </div>
        </div>
    </div>
  </div>
</div>

<!-- JS for colouring -->
<script>
    var n_C = {{ n_C }};
    var n_D = {{ n_D }};
    var n_C_1 = {{ n_C_1 }};
    var me = n_C_1 - n_C;

    var neigh_size = n_C + n_D;
    var list = [9, 3, 15, 17, 5, 10, 7, 11, 12, 1, 14, 13, 16, 8, 6, 18, 2, 0, 4, 19];

    for (var i = 0; i < list.length; i++) {
      if (n_C > 0){ //Cooperators
        document.getElementById('circ' + String(list[i])).style.fill = "#97cef0";
        document.getElementById('text' + String(list[i])).textContent = "C";
      }
      else { //Non-cooperators
        document.getElementById('circ' + String(list[i])).style.fill = "#c64d9c";
        document.getElementById('text' + String(list[i])).textContent = "N";
      }
      n_C = n_C - 1;
    }
    if (n_C_1 != -1) {
        if (me == 0) {
            document.getElementById('circ20').style.fill = "#c64d9c";
        }
        else {
            document.getElementById('circ20').style.fill = "#97cef0";
        }
    }
</script>

{% endblock %}