{% extends "global/Base.html" %}
{% load otree_tags staticfiles %}

{% block title %}
    Debriefing
{% endblock %}

{% block styles %}
    <style>
        .highlight-row-on-hover:hover td {
            background-color: #fcf8e3;
        }

    </style>
{% endblock %}

{% block content %}
<div class="card card-body bg-light instructions">
    <p>We would like to ask you a final open-ended question before we let you go.
    Answering this questions will not affect the final payout, guessing is allowed.
    Please press next once you are done answering.</p>
</div>

<br>
<br>

<div class="card card-body bg-light instructions">
    <p>Given the earnings table, what is the fraction of defectors below which it is always better to <b>D</b> and above which it is always better to <b>C</b>?</p>
    <div class="container">
        <div class="row">
            <div class="col float-start">
                {{ form.debrief }}
            </div>
            {{ include "global/payoff_matrix.html" }}
        </div>
    </div>
</div>

<br>
<br>

{% next_button %}

{% endblock %}
