{% extends "global/Base.html" %}
{% load otree_tags staticfiles %}

{% block title %}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'global/matrix.css' %}" />

    <style>
        .highlight-row-on-hover:hover td {
            background-color: #fcf8e3;
        }

    </style>

{% endblock %}

{% block content %}

{{ include "bonus_game/score_card_header.html" }}
<div>
  <div container="container">
        <div style="margin: auto; text-align:center;">
            {{ include "global/game-wheel.html" }}
        </div>
        <div class="col ml-auto">
            <div class="form-group required">
              {% include "global/payoff_matrix.html" %}
            </div>
            <br>
            <div style="margin: auto; text-align:center;">
              <button name="decision" value="C" class="btn btn-primary btn-large">Collaborate</button>
              <button name="decision" value="D" class="btn btn-primary btn-large">Don't collaborate</button>
            </div>
        </div>
  </div>
</div>
{% endblock %}
