{% extends "global/Page.html" %}
{% load otree static %}
{% block content %}

{{ include "bonus_game/score_card_header.html" }}

<div>
  <div container="container">
        <div style="margin: auto; text-align:center;">
            <i>Current choices</i>
            {{ include "global/game-wheel.html" }}
            {{ if is_in_deception_regime}}
            <h3 class="blink_me">Waiting for players ...</h3>
            {{ else }}
            <h3 class="blink_me">Waiting for robot players ...</h3>
            {{ endif }}
        </div>
  </div>
</div>

<style>
    .otree-timer {
        display: none;
    }

    .blink_me {
        animation: blinker 3s linear infinite;
      }

    @keyframes blinker {
        50% { opacity: 0; }
      }
</style>
{% endblock %}
