#http://www.futurile.net/2016/02/03/automating-environment-setup-with-direnv/
dotenv

export PROJNAME="herding-analysis"

# loads the conda enviroment

layout anaconda herding

export PYTHONPATH="$PWD/src":"$PYTHONPATH"
