{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Instructions - Description
{% endblock %}

{% block content %}
<div class="card card-body bg-light instructions">
    <h4>The Setting</h4>
    <br>
    <p>
        In this game you will play with <b>20 other players</b> in <b>real time</b>.
        You will join an ongoing game.
        The other players will be waiting until you have completed your round, so please be considerate.
    </p>
    <p>In each round you will be asked to choose one of two actions <b>Collaborate</b> or <b>Not Collaborate</b>.
        Your choice will be played with all other players simultaneously. In other words, in each round, you choose one
        action which will be played against each other player.</p>

    <p>In each round, you will see the action, which the players have chosen in the <b>last round</b>. This information
        will be summarised via the following image.</p>
    <p>In each round, the game will stop with a probability of 10%.</p>


    {% include "global/game-wheel.html" %}
</div>
<br>
<br>
<div class="card card-body bg-light instructions">
    <h4>Point Calculation</h4>
    <br>
    {% include "global/payoff_matrix.html" %}
    <br>
    <p>Your earnings will be calculated in two parts.</p>
    <p>The <b>first</b> part of the earnings is determined by your choice to <b>Collaborate</b> or <b>Not Collaborate</b> and the choice of the other 20 players. According to the table below you will receive for each opponent the points corresponding to your and their choice.</p>
    <p>The <b>second</b> part of the payoff comes in the form of a bonus. <b>IF you Collaborate</b> you will receive <b>{{bonus}}</b> for each player choosing to "Not Collaborate".</p>

</div>
<br>
<div class="card card-body bg-light instructions">
    <h4>Example of a round</h4>
    <br>
    <p>Consider the example where you and 3 other players choose to <b>Collaborate</b> and the remaining 17 choose to <b>Not Collaborate</b>.</p>
    <ol>
        <li>for each player choosing to <b>Collaborate</b> you earn {{ R }} points: {{ R }} times 3 players = {{ Rx3 }}
        </li>
        <li>for each player choosing to <b>Not Collaborate</b> you earn {{S}}: {{S}} times 17 players = {{Sx17}} </li>
        <li>First payoff is 15 + 17 = 31</li>
        <li>Because you choose to collaborate you get an additional X points for each player choosing to <b>Not
                Collaborate</b></li>
        <li>Second payoff is thus 8 * 17 = 136</li>
        <li>In total you earn 31 + 136</li>
    </ol>
    <p>Had you chosen to <b>Not Collaborate</b> this would have been the calculation:</p>
    <ol>
        <li>for each player choosing to <b>Collaborate</b> you earn 8 points: 8 times 3 players = 24 </li>
        <li>for each player choosing to <b>Not Collaborate</b> you earn 2 point: 2 times 17 players = 34 </li>
        <li>Your payoff is 24 + 34 = 58</li>
        <li>Since you chose to <b>Not Collaborate</b> you do not get any additional points.</li>
    </ol>
</div>

<br>

<div class="card card-body bg-light instructions">
    <h4>Overview of game steps</h4>
    <p>
    <ol>
        <li>We ask a few questions to make sure you understood the basics of the game.</li>
        <li>You are placed in an ongoing game with 20 other players.</li>
        <li>Your payoff is determined by your and the other player's choices.</li>
        <li>You play for several rounds.</li>
        <li>At the end we will ask a few debriefing questions.</li>
    </ol>
    </p>
</div>

<br>
<br>

{% next_button %}

{% endblock %}

{% block styles %}
<style type="text/css">
    .big {
        font-size: large;
    }
</style>
<style>
    .highlight-row-on-hover:hover td {
        background-color: #fcf8e3;
    }
</style>

{% endblock %}
