{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}

<div class="card card-body bg-light instructions">
    <h4>Point Calculation</h4>
    <br>
    <p>Your earnings will be calculated in two parts.</p>
    <p><b>First:</b> Depending on your choice and the choice of the other 20 players. You received for each opponent the points shown in the table.</p>
    <p><b>Second:</b> You receive a Bonus (<b>{{bonus}}</b>) for each player choosing to "Not Collaborate" <b>IF you choose "Collaborate"</b>
    </p>
    {% include "global/payoff_matrix.html" %}
    <br>


</div>

<br>
<br>

{% next_button %}

{% endblock %}

{% block styles %}
<style type="text/css">
    .big {
        font-size: large;
    }
</style>
<style>
    .highlight-row-on-hover:hover td {
        background-color: #fcf8e3;
    }
</style>

{% endblock %}
