{% extends "global/Base.html" %}
{% load otree_tags staticfiles %}

{% block title %}
    Please make your decision
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'global/matrix.css' %}" />

    <style>
        .highlight-row-on-hover:hover td {
            background-color: #fcf8e3;
        }

    </style>

{% endblock %}

{% block content %}
    <div class="form-group required">
        <table class="table table-bordered text-center" style="width: auto; margin: auto">
            <tr>
                <th colspan="2" rowspan="2"></th>
                <th colspan="2"><center>Other player</center></th>
                </tr>
                <tr>
                    <th><center>Cooperate</center></th>
                    <th><center>Defect</center></th>
                </tr>
            <tr class="highlight-row-on-hover">
                    <th rowspan="2"><span class="rotate90">You</span></th>
                    <td><button name="decision" value="C" class="btn btn-primary btn-large">Cooperate</button></td>
                    <td>{{Constants.R}}, {{Constants.R}}</td>
                    <td>{{Constants.S}}, {{Constants.T}}</td>
            </tr>
            <tr class="highlight-row-on-hover">
                    <td><button name="decision" value="D" class="btn btn-primary btn-large">Defect</button></td>
                    <td>{{Constants.T}}, {{Constants.S}}</td>
                    <td>{{Constants.P}}, {{Constants.P}}</td>
            </tr>
        </table>
        {{ form.decision.errors }}
    </div>
{% endblock %}

