.rotate90 {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    float: left;
    margin-top: 1em;
}


.blink_me {
    animation: blinker 1s linear infinite;
  }

@keyframes blinker {
    50% { opacity: 0; }
}
