{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Instructions - Description
{% endblock %}

{% block content %}
<div class="card card-body bg-light instructions">
    <h4>The Setting</h4>
    <br>
    <p>
        In this game you will play with <b>20 other players</b> in <b>real time</b>.
        You will join an ongoing game.
        The other players will be waiting until you have completed your round, so please be considerate.
    </p>

    <p>In each round you will be asked to choose one of two actions <b>Collaborate</b> or <b>Not Collaborate</b>.
    Your choice will be played with all other players simultaneously. In other words, in each round, you choose one action which will be played against each other player.</p>

    <p>In each round, you will see the action, which the players have chosen in the <b>last round</b>. This information will be summarised via the following image.</p>

    <p>In each round, the game will stop with a probability of 10%.</p>

    {# {% include "bonus_game/payoff_matrix.html" %} #}


    <div style="margin: auto">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 508.32 584.89" width="500px" height="650px">
          <defs>
            <style>
              .a, .b {
                fill: none;
                stroke: #cccccb;
              }
              .a, .b, .d, .f {
                stroke-miterlimit: 10;
              }
              .b {
                stroke-dasharray: 4 4;
              }
              .c {
                font-size: 20px;
              }
              .c, .e, .h, .l {
                fill: #231f20;
              }
              .c, .e, .k {
                font-family: Helvetica;
              }
              .d {
                fill: #c64d9c;
              }
              .d, .f {
                stroke: #fff;
              }
              .e {
                font-size: 28px;
              }
              .f {
                fill: #97cef0;
              }
              .g {
                fill: #cccccb;
              }
              .h {
                font-size: 23.9px;
              }
              .h, .m {
                font-family: Helvetica-Bold, Helvetica;
                font-weight: 700;
              }
              .i {
                letter-spacing: -0.07em;
              }
              .j {
                letter-spacing: 0em;
              }
              .k {
                font-weight: 400;
              }
              .l {
                font-size: 15px;
                font-family: Helvetica-Light, Helvetica;
                font-weight: 300;
              }
            </style>
          </defs>
          <g>
            <g>
              <line class="a" x1="252.44" y1="255.87" x2="252.44" y2="253.37"/>
              <line class="b" x1="252.44" y1="248.48" x2="252.44" y2="84.59"/>
              <line class="a" x1="252.44" y1="82.15" x2="252.44" y2="79.65"/>
            </g>
            <g>
              <line class="a" x1="252.44" y1="255.87" x2="251.67" y2="253.49"/>
              <line class="b" x1="250.16" y1="248.84" x2="199.52" y2="92.98"/>
              <line class="a" x1="198.76" y1="90.65" x2="197.99" y2="88.27"/>
            </g>
            <g>
              <line class="a" x1="252.44" y1="255.87" x2="250.97" y2="253.85"/>
              <line class="b" x1="248.1" y1="249.89" x2="151.77" y2="117.31"/>
              <line class="a" x1="150.33" y1="115.33" x2="148.86" y2="113.3"/>
            </g>
            <g>
              <line class="a" x1="252.44" y1="255.87" x2="250.42" y2="254.4"/>
              <line class="b" x1="246.46" y1="251.53" x2="113.88" y2="155.2"/>
              <line class="a" x1="111.9" y1="153.76" x2="109.87" y2="152.29"/>
            </g>
            <g>
              <line class="a" x1="252.44" y1="255.87" x2="250.07" y2="255.1"/>
              <line class="b" x1="245.41" y1="253.59" x2="89.55" y2="202.94"/>
              <line class="a" x1="87.22" y1="202.19" x2="84.84" y2="201.42"/>
            </g>
            <g>
              <line class="a" x1="252.44" y1="255.87" x2="249.94" y2="255.87"/>
              <line class="b" x1="245.05" y1="255.87" x2="81.17" y2="255.87"/>
              <line class="a" x1="78.72" y1="255.87" x2="76.22" y2="255.87"/>
            </g>
            <g>
              <line class="a" x1="252.44" y1="255.87" x2="250.07" y2="256.64"/>
              <line class="b" x1="245.41" y1="258.16" x2="89.55" y2="308.8"/>
              <line class="a" x1="87.22" y1="309.56" x2="84.84" y2="310.33"/>
            </g>
            <g>
              <line class="a" x1="252.44" y1="255.87" x2="250.42" y2="257.34"/>
              <line class="b" x1="246.46" y1="260.22" x2="113.88" y2="356.55"/>
              <line class="a" x1="111.9" y1="357.98" x2="109.87" y2="359.45"/>
            </g>
            <g>
              <line class="a" x1="252.44" y1="255.87" x2="250.97" y2="257.89"/>
              <line class="b" x1="248.1" y1="261.85" x2="151.77" y2="394.44"/>
              <line class="a" x1="150.33" y1="396.42" x2="148.86" y2="398.44"/>
            </g>
            <g>
              <line class="a" x1="252.44" y1="255.87" x2="251.67" y2="258.25"/>
              <line class="b" x1="250.16" y1="262.9" x2="199.52" y2="418.77"/>
              <line class="a" x1="198.76" y1="421.09" x2="197.99" y2="423.47"/>
            </g>
            <g>
              <line class="a" x1="252.44" y1="255.87" x2="252.44" y2="258.37"/>
              <line class="b" x1="252.44" y1="263.26" x2="252.44" y2="427.15"/>
              <line class="a" x1="252.44" y1="429.6" x2="252.44" y2="432.1"/>
            </g>
            <g>
              <line class="a" x1="252.44" y1="255.87" x2="253.22" y2="258.25"/>
              <line class="b" x1="254.73" y1="262.9" x2="305.37" y2="418.77"/>
              <line class="a" x1="306.13" y1="421.09" x2="306.9" y2="423.47"/>
            </g>
            <g>
              <line class="a" x1="252.44" y1="255.87" x2="253.91" y2="257.89"/>
              <line class="b" x1="256.79" y1="261.85" x2="353.12" y2="394.44"/>
              <line class="a" x1="354.56" y1="396.42" x2="356.02" y2="398.44"/>
            </g>
            <g>
              <line class="a" x1="252.44" y1="255.87" x2="254.47" y2="257.34"/>
              <line class="b" x1="258.42" y1="260.22" x2="391.01" y2="356.55"/>
              <line class="a" x1="392.99" y1="357.98" x2="395.01" y2="359.45"/>
            </g>
            <g>
              <line class="a" x1="252.44" y1="255.87" x2="254.82" y2="256.64"/>
              <line class="b" x1="259.47" y1="258.16" x2="415.34" y2="308.8"/>
              <line class="a" x1="417.66" y1="309.56" x2="420.04" y2="310.33"/>
            </g>
            <g>
              <line class="a" x1="252.44" y1="255.87" x2="254.94" y2="255.87"/>
              <line class="b" x1="259.84" y1="255.87" x2="423.72" y2="255.87"/>
              <line class="a" x1="426.17" y1="255.87" x2="428.67" y2="255.87"/>
            </g>
            <g>
              <line class="a" x1="252.44" y1="255.87" x2="254.82" y2="255.1"/>
              <line class="b" x1="259.47" y1="253.59" x2="415.34" y2="202.94"/>
              <line class="a" x1="417.66" y1="202.19" x2="420.04" y2="201.42"/>
            </g>
            <g>
              <line class="a" x1="252.44" y1="255.87" x2="254.47" y2="254.4"/>
              <line class="b" x1="258.42" y1="251.53" x2="391.01" y2="155.2"/>
              <line class="a" x1="392.99" y1="153.76" x2="395.01" y2="152.29"/>
            </g>
            <g>
              <line class="a" x1="252.44" y1="255.87" x2="253.91" y2="253.85"/>
              <line class="b" x1="256.79" y1="249.89" x2="353.12" y2="117.31"/>
              <line class="a" x1="354.56" y1="115.33" x2="356.02" y2="113.3"/>
            </g>
            <g>
              <line class="a" x1="252.44" y1="255.87" x2="253.22" y2="253.49"/>
              <line class="b" x1="254.73" y1="248.84" x2="305.37" y2="92.98"/>
              <line class="a" x1="306.13" y1="90.65" x2="306.9" y2="88.27"/>
            </g>
          </g>
          <text class="c" transform="translate(258.31 44.49) rotate(-90)">P131</text>
          <text class="c" transform="translate(258.31 508.29) rotate(-90)">P32</text>
          <text class="c" transform="translate(180.02 497.75) rotate(-72)">P103</text>
          <text class="c" transform="translate(108.82 463.53) rotate(-54)">P134</text>
          <text class="c" transform="translate(51.68 408.99) rotate(-36)">P98</text>
          <text class="c" transform="translate(14.19 339.45) rotate(-18)">P200</text>
          <text class="c" transform="translate(0 261.76)">P136</text>
          <text class="c" transform="matrix(0.95, 0.31, -0.31, 0.95, 10.53, 183.47)">P230</text>
          <text class="c" transform="matrix(0.81, 0.59, -0.59, 0.81, 44.75, 112.26)">P111</text>
          <text class="c" transform="matrix(0.59, 0.81, -0.81, 0.59, 99.29, 55.1)">P116</text>
          <text class="c" transform="translate(168.83 17.61) rotate(72)">P114</text>
          <text class="c" transform="translate(312.18 458.72) rotate(72)">P102</text>
          <text class="c" transform="translate(371.94 430.33) rotate(54)">P201</text>
          <text class="c" transform="matrix(0.81, 0.59, -0.59, 0.81, 420, 384.87)">P99</text>
          <text class="c" transform="translate(451.66 326.77) rotate(18)">P93</text>
          <text class="c" transform="translate(463.82 261.74)">P119</text>
          <text class="c" transform="matrix(0.95, -0.31, 0.31, 0.95, 455.29, 196.14)">P115</text>
          <text class="c" transform="matrix(0.81, -0.59, 0.59, 0.81, 426.9, 136.38)">P109</text>
          <text class="c" transform="matrix(0.59, -0.81, 0.81, 0.59, 381.44, 88.31)">P129</text>
          <text class="c" transform="translate(323.35 56.65) rotate(-72)">P112</text>
          <!-- <g>
            <circle class="d" cx="252.44" cy="79.65" r="21.68"/>
            <text class="e" transform="translate(242.09 89.24)">N</text>
          </g> -->
          <g>
            <circle class="d" cx="356.02" cy="113.3" r="21.68"/>
            <text class="e" transform="matrix(0.81, 0.59, -0.59, 0.81, 342.01, 114.98)">N</text>
          </g>
          <g>
            <circle class="d" cx="420.04" cy="201.42" r="21.68"/>
            <text class="e" transform="matrix(0.31, 0.95, -0.95, 0.31, 407.72, 194.54)">N</text>
          </g>
          <g>
            <circle class="d" cx="420.04" cy="310.33" r="21.68"/>
            <text class="e" transform="matrix(-0.31, 0.95, -0.95, -0.31, 414.12, 297.52)">N</text>
          </g>
          <g>
            <circle class="d" cx="356.02" cy="398.44" r="21.68"/>
            <text class="e" transform="matrix(-0.81, 0.59, -0.59, -0.81, 358.76, 384.59)">N</text>
          </g>
          <g>
            <circle class="d" cx="252.44" cy="432.1" r="21.68"/>
            <text class="e" transform="translate(262.79 422.5) rotate(180)">N</text>
          </g>
          <g>
            <circle class="d" cx="148.86" cy="398.44" r="21.68"/>
            <text class="e" transform="matrix(-0.81, -0.59, 0.59, -0.81, 162.87, 396.76)">N</text>
          </g>
          <g>
            <circle class="d" cx="84.84" cy="310.33" r="21.68"/>
            <text class="e" transform="matrix(-0.31, -0.95, 0.95, -0.31, 97.17, 317.21)">N</text>
          </g>
          <g>
            <circle class="d" cx="84.84" cy="201.42" r="21.68"/>
            <text class="e" transform="matrix(0.31, -0.95, 0.95, 0.31, 90.77, 214.22)">N</text>
          </g>
          <g>
            <circle class="d" cx="148.86" cy="113.3" r="21.68"/>
            <text class="e" transform="matrix(0.81, -0.59, 0.59, 0.81, 146.13, 127.15)">N</text>
          </g>
          <g>
            <circle class="f" cx="306.9" cy="88.27" r="21.68"/>
            <text class="e" transform="matrix(0.95, 0.31, -0.31, 0.95, 294.09, 94.2)">C</text>
          </g>
          <g>
            <circle class="f" cx="395.01" cy="152.29" r="21.68"/>
            <text class="e" transform="matrix(0.59, 0.81, -0.81, 0.59, 381.17, 149.56)">C</text>
          </g>
          <g>
            <circle class="d" cx="428.67" cy="255.87" r="21.68"/>
            <text class="e" transform="translate(419.07 245.52) rotate(90)">N</text>
          </g>
          <g>
            <circle class="d" cx="395.01" cy="359.45" r="21.68"/>
            <text class="e" transform="translate(393.33 345.44) rotate(126)">N</text>
          </g>
          <g>
            <circle class="f" cx="306.9" cy="423.47" r="21.68"/>
            <text class="e" transform="translate(313.78 411.15) rotate(162)">C</text>
          </g>
          <g>
            <circle class="f" cx="197.99" cy="423.47" r="21.68"/>
            <text class="e" transform="translate(210.8 417.54) rotate(-162)">C</text>
          </g>
          <g>
            <circle class="f" cx="109.87" cy="359.45" r="21.68"/>
            <text class="e" transform="matrix(-0.59, -0.81, 0.81, -0.59, 123.72, 362.19)">C</text>
          </g>
          <g>
            <circle class="f" cx="76.22" cy="255.87" r="21.68"/>
            <text class="e" transform="matrix(0, -1, 1, 0, 85.81, 266.22)">C</text>
          </g>
          <g>
            <circle class="f" cx="109.87" cy="152.29" r="21.68"/>
            <text class="e" transform="matrix(0.59, -0.81, 0.81, 0.59, 111.55, 166.3)">C</text>
          </g>
          <g>
            <circle class="f" cx="197.99" cy="88.27" r="21.68"/>
            <text class="e" transform="matrix(0.95, -0.31, 0.31, 0.95, 191.11, 100.6)">C</text>
          </g>
          <circle class="g" cx="252.44" cy="255.87" r="41.65"/>
          <g>
            <circle class="d" cx="252.44" cy="79.65" r="21.68"/>
            <text class="e" transform="translate(242.09 89.24)">N</text>
          </g>
          <text class="h" transform="translate(230.75 248.46)"><tspan class="i">You</tspan><tspan class="k"><tspan x="-4.9" y="28.68"> 202</tspan></tspan></text>
          <g>
            <g>
              <circle class="f" cx="52.16" cy="561.83" r="21.68"/>
              <text class="e" transform="translate(41.81 571.42)">C</text>
            </g>
            <text class="l" transform="translate(95.84 557.31)">Chose to <tspan class="m" x="64.2" y="0">Cooperate</tspan><tspan x="0" y="18">in last round</tspan></text>
          </g>
          <g>
            <text class="l" transform="translate(323.35 557.3)">Chose to <tspan class="m" x="64.2" y="0">Not Cooperate</tspan><tspan x="0" y="18">in last round</tspan></text>
            <g>
              <circle class="d" cx="279.67" cy="561.83" r="21.68"/>
              <text class="e" transform="translate(269.32 571.42)">N</text>
            </g>
          </g>
        </svg>
    </div>
</div>



<br>
<br>

<div class="card card-body bg-light instructions">
    <h4>Point Calculation</h4>
    <br>
    <p>Your earnings will be calculated in two parts.</p>

    <p>The <b>first</b> part of the earnings is determined by your choice to <b>Collaborate</b> or <b>Not Collaborate</b> and the choice of the other 20 players. According to the table below you will receive for each opponent the points corresponding to your and their choice.</p>

    <table class="table table-bordered text-center" style="width: auto; margin: auto">
        <tr>
            <th colspan="2" rowspan="2"></th>
            <th colspan="2"><center style="color: gray;">Player X</center></th>
            </tr>
            <tr>
                <th><center>Collaborate</center></th>
                <th><center>Don't collaborate</center></th>
            </tr>
        <tr class="highlight-row-on-hover">
                <th rowspan="2"><span style="color: blue;">You</span></th>
                <td><button name="decision" value="C" class="btn btn-primary btn-large" disabled>Collaborate</button></td>
                <td  style="font-size: 2em;"><b style="color: blue;">5</b>, <b style="color: gray;">5</b></td>
                <td  style="font-size: 2em;"><b style="color: blue;">1</b>, <b style="color: gray;">8</b></td>
        </tr>
        <tr class="highlight-row-on-hover">
                <td><button name="decision" value="D" class="btn btn-primary btn-large" disabled>Don't collaborate</button></td>
                <td style="font-size: 2em;"><b style="color: blue">8</b>, <b style="color: gray;">1</b></td>
                <td style="font-size: 2em;"><b style="color: blue">2</b>, <b style="color: gray;">2</b></td>
        </tr>
    </table>
    <br>
    <p>The <b>second</b> part of the payoff comes in the form of a bonus. <b>IF you Collaborate</b> you will receive <b>8 Points</b> for each player choosing to "Not Collaborate".</p>

</div>

<br>
<div class="card card-body bg-light instructions">
    <h4>Example of a round</h4>

    <br>
    <p>Consider the example where you and 3 other players choose to <b>Collaborate</b> and the remaining 17 choose to <b>Not Collaborate</b>.</p>
        <ol>
          <li>for each player choosing to <b>Collaborate</b> you earn 5 points: 5 times 3 players = 15  </li>
          <li>for each player choosing to <b>Not Collaborate</b> you earn 1 point: 1 times 17 players = 17  </li>
          <li>First payoff is 15 + 17 = 31</li>
          <li>Because you choose to collaborate you get an additional X points for each player choosing to <b>Not Collaborate</b></li>
          <li>Second payoff is thus 8 * 17 = 136</li>
          <li>In total you earn 31 + 136</li>
        </ol>
    <p>Had you chosen to <b>Not Collaborate</b> this would have been the calculation:</p>
        <ol>
          <li>for each player choosing to <b>Collaborate</b> you earn 8 points: 8 times 3 players = 24  </li>
          <li>for each player choosing to <b>Not Collaborate</b> you earn 2 point: 2 times 17 players = 34  </li>
          <li>Your payoff is 24 + 34 = 58</li>
          <li>Since you chose to <b>Not Collaborate</b> you do not get any additional points.</li>
    </ol>
</div>

<br>

<div class="card card-body bg-light instructions">
    <h4>Overview of game steps</h4>
    <p>
    <ol>
      <li>We ask a few questions to make sure you understood the basics of the game.</li>
      <li>You are placed in an ongoing game with 20 other players.</li>
      <li>Your payoff is determined by your and the other player's choices.</li>
      <li>You play for several rounds.</li>
      <li>At the end we will ask a few debriefing questions.</li>
    </ol>
    </p>
</div>

<br>
<br>

{% next_button %}

{% endblock %}

{% block styles %}
    <style type="text/css">
        .big{
            font-size: large;
        }
    </style>

    <link rel="stylesheet" type="text/css" href="{% static 'global/matrix.css' %}" />

    <style>
        .highlight-row-on-hover:hover td {
            background-color: #fcf8e3;
        }

    </style>

{% endblock %}
