{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    End
{% endblock %}

{% block content %}
<div class="card card-body bg-light instructions">
    The game has now ended. Thank you for participating! You can visualize below a table displaying yours and your neighbourhood's decisions and payoffs, with the tax rate that has been applied.
</div>

<br>
<br>
<br>

<div class="card card-body bg-light instructions">
	<div style="text-align:center">
		<b> My payoff </b>

		<p>



		</p>

		<table>
		  <tr>
		  	<th>Payoff from {{ my_decision }}</th>
		    <th>+ {{ init }}</th>
		  </tr>
		  <tr>
		  	<th>Tax on you</th>
		    <th>- {{ tax }}% × {{ init }} </th>
		  </tr>
		  <tr>
		  	<th>Bonus</th>
		    <th>+ {{ bonus }}</th>
		  </tr>
		  <tr>
		  	<th>Total</th>
		    <th>= {{ my_payoff }} </th>
		  </tr>
		</table>
	</div>
</div>

<br>
<br>

<div class="card card-body bg-light instructions">
	<p> The <b>bonus</b> has been computed from the following operations:
		<ul>
	          <li>We collect <b>{{ tax }}%</b> of all player's earning and redistribute equally among <b>collaborators</b>.</li>
	          <li><b>Non-collaborators</b> get a bonus of <b>0</b> points.</li>
	          <li><b>Collaborators</b> get each a bonus of <b>{{ tax }}% × ({{ coop_payoff}} × {{ n_C_1 }} + {{ def_payoff}} × {{ n_D_1 }})/{{ n_C_1 }} = {{ bonus_coop }}</b>.</li>
	    </ul>
	</p>
</div>

<br>
<br>
<br>

<div style="text-align:center">
	<b> Players' choices </b>
</div>

<br>

<div style="text-align:center">
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 427.5 599" width="600px" height="600px">
	    <defs>
	        <style>
	            .cls-1 {
	                fill: #e6e7e8;
	            }

	            .cls-2 {
	                fill: DarkMagenta/*#9e1f63;*/
	            }

	            .cls-15,
	            .cls-3 {
	                font-size: 15px;
	                fill: #231f20;
	                font-family: MyriadPro-Regular, Myriad Pro;
	            }

	            .cls-4 {
	                letter-spacing: -0.01em;
	            }

	            .cls-5 {
	                letter-spacing: 0em;
	            }

	            .cls-6 {
	                fill: Orange/*#f7941d;*/
	            }

	            .cls-10,
	            .cls-11,
	            .cls-7,
	            .cls-8,
	            .cls-9 {
	                fill: none;
	                stroke-miterlimit: 10;
	            }

	            .cls-10,
	            .cls-7,
	            .cls-8,
	            .cls-9 {
	                stroke: #bcbec0;
	            }

	            .cls-7,
	            .cls-8 {
	                stroke-width: 1.39px;
	            }

	            .cls-8 {
	                stroke-dasharray: 8.04 8.04;
	            }

	            .cls-10,
	            .cls-9 {
	                stroke-width: 0.98px;
	            }

	            .cls-10 {
	                stroke-dasharray: 7.86 7.86;
	            }

	            .cls-11 {
	                stroke: #231f20;
	                stroke-width: 4px;
	            }

	            .cls-12 {
	                letter-spacing: 0em;
	            }

	            .cls-13 {
	                letter-spacing: -0.01em;
	            }

	            .cls-14 {
	                letter-spacing: -0.01em;
	            }

	            .cls-15 {
	                letter-spacing: -0.08em;
	            }

	            .cls-16 {
	                letter-spacing: 0em;
	            }

	            .cls-17 {
	                fill: #a7a9ac;
	            }
	        </style>
	    </defs>
	    <g id="legend">
	        <rect class="cls-1" x="68.88" y="529" width="289.74" height="70" rx="10.44" />
	        <circle class="cls-2" cx="103.06" cy="566.08" r="15.88" />
	        <text class="cls-3" transform="translate(126.45 572.17)">Not collaborate</text>
	        <circle class="cls-6" cx="246.19" cy="561.08" r="15.88" />
	        <text class="cls-3" transform="translate(265.34 572.17)">Collaborate</text>
	    </g>
	    <g id="otherlinks">
	        <path class="cls-7" d="M45,43.94a15.66,15.66,0,0,1,3.15-2.45" />
	        <path class="cls-8"
	            d="M55.72,38.92C90.19,33.65,174.3,87.5,257.35,170.3c86.36,86.11,141.43,173.48,131.06,205.14" />
	        <path class="cls-7" d="M386.77,379.1a15.36,15.36,0,0,1-2.43,3.16" />
	        <path class="cls-9" d="M382.75,382.5a11.12,11.12,0,0,1-.72,3.91" />
	        <path class="cls-10" d="M377.62,392.85c-18.47,18.27-84.72,31.8-163.62,31.8-83.13,0-152.22-15-166.18-34.78" />
	        <path class="cls-9" d="M46,386.41a11.12,11.12,0,0,1-.72-3.91" />
	        <path class="cls-9" d="M45,382.5a11.12,11.12,0,0,1-3.91-.72" />
	        <path class="cls-10" d="M34.65,377.37C16.38,358.9,2.85,292.65,2.85,213.75c0-83.13,15-152.22,34.78-166.18" />
	        <path class="cls-9" d="M41.09,45.72A11.12,11.12,0,0,1,45,45" />
	        <path class="cls-9" d="M383,45a11.12,11.12,0,0,1,3.91.72" />
	        <path class="cls-10" d="M393.35,50.13c18.27,18.47,31.8,84.72,31.8,163.62,0,83.13-15,152.22-34.78,166.18" />
	        <path class="cls-9" d="M386.91,381.78a11.12,11.12,0,0,1-3.91.72" />
	        <path class="cls-9" d="M45,44.5a11.12,11.12,0,0,1,.72-3.91" />
	        <path class="cls-10" d="M50.13,34.15C68.6,15.88,134.85,2.35,213.75,2.35c83.13,0,152.22,15,166.18,34.78" />
	        <path class="cls-9" d="M381.78,40.59a11.12,11.12,0,0,1,.72,3.91" />
	        <path class="cls-7" d="M41.34,382.5a16,16,0,0,1-2.44-3.15" />
	        <path class="cls-8"
	            d="M36.34,371.78C31.12,337.31,85.1,253.27,168,170.35,254.26,84.11,341.7,29.17,373.35,39.59" />
	        <path class="cls-7" d="M377,41.23a16,16,0,0,1,3.16,2.44" />
	    </g>
	    <g id="mainlinks">
	        <line class="cls-11" x1="44.5" y1="44.5" x2="214" y2="213.5" />
	        <line class="cls-11" x1="382.5" y1="44.5" x2="214" y2="213.75" />
	        <line class="cls-11" x1="383" y1="382.5" x2="214" y2="213.75" />
	        <line class="cls-11" x1="214.25" y1="213.5" x2="45.25" y2="382.5" />
	    </g>
	    <g id="names">
	        <text class="cls-3" transform="translate(13.93 120.79)">A. Einstein</text>
	        <text class="cls-3" transform="translate(348.78 120.79)">M. Curie</text>
	        <text class="cls-3" transform="translate(12.36 464.17)">D. Hodgkin</text>
	        <text class="cls-3" transform="translate(350.36 459.58)">G. Kasparov</text>
	        <text class="cls-15" transform="translate(202.67 281)">You</text>
	    </g>
	    <g id="circles">
	        <circle id=circ0 class="cls-6" cx="44.5" cy="44.5" r="24.5" />
	        <circle id=circ1 class="cls-6" cx="382.5" cy="44.5" r="24.5" />
	        <circle id=circ2 class="cls-6" cx="45" cy="382.5" r="24.5" />
	        <circle id=circ3 class="cls-2" cx="383" cy="382.5" r="24.5" />
	        <circle id=circ4 class="cls-17" cx="214" cy="213.5" r="24.5" />
	    </g>
	</svg>
</div>

<script>
	var n_C = {{ n_C }};
	var n_D = {{ n_D }};
	var n_C_1 = {{ n_C_1 }};
	var me = n_C_1 - n_C

	var neigh_size = n_C + n_D
	for(var i = 0; i < neigh_size; i++) {
	      if (n_C > 0){ //cooperators
	      	document.getElementById('circ' + String(i)).style.fill= "Orange"; //#f7941d
	      }
	      else { //Non-collaborators
	      	document.getElementById('circ' + String(i)).style.fill= "DarkMagenta";//#9e1f6
	      }
	      n_C = n_C - 1;
	}
	if (me != 0) {
		document.getElementById('circ4').style.fill= "Orange";
	}
	else {
		document.getElementById('circ4').style.fill= "DarkMagenta";
	}
</script>

<br>
<br>
<br>
<br>

<div class="card card-body bg-light instructions">
	<div style="text-align:center;">
		<b> Summary table </b>
	</div>

	<br>

	<table>
	  <tr>
	  	<th>My decision</th>
	    <th style="color:red;">My payoff</th>
	    <th># Collaborators</th>
	    <th># Non-collaborators</th>
	    <th>Tax rate</th>
	  </tr>
	  <tr>
	    <td>{{ my_decision }}</td>
	    <td style="color:red;">{{ my_payoff }}</td>
	    <td>{{ n_C }}</td>
	    <td>{{ n_D }}</td>
	    <td>{{ tax }}%</td>
	  </tr>
	</table>
</div>

<br>
<br>

{% next_button %}

	<!-- <script>
		var ctx = $('#canvas')[0].getContext("2d");
	  	var coords = [ [130,80], [90,40], [110,40], [130,40], [150,40], [170,40] ];
	    var n_C = {{ n_C }};

	    for(var i = 0; i < coords.length; i++) {
	      ctx.beginPath();
	      ctx.arc(coords[i][0], coords[i][1], 5, 0, Math.PI * 2, true);
	      ctx.fill();
	      if (n_C > 0){
	      	ctx.fillStyle = 'orange';
	        n_C = n_C - 1;
	      }
	      else {
	      	ctx.fillStyle = 'blue';
	      }
	    }
	</script> -->
{% endblock %}

{% block styles %}
	<style>
		table {
		  font-family: arial, sans-serif;
		  border-collapse: collapse;
		  width: 100%;
		}

		td, th {
		  border: 1px solid #dddddd;
		  text-align: left;
		  padding: 8px;
		}

		tr:nth-child(even) {
		  background-color: #dddddd;
		}

		#circle_me {
            width: 20px;
            height: 20px;
            -webkit-border-radius: 25px;
            -moz-border-radius: 25px;
            border-radius: 25px;
            background: black;
         }
	</style>
{% endblock %}