{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Instructions - Description
{% endblock %}

{% block content %}
<div class="card card-body bg-light instructions">
    <h4>The Setting</h4>
    <br>
    <p>
        In this game you will play with <b>20 other players</b> in <b>real time</b>.
        You will join an ongoing game.
        The other players will be waiting until you have completed your round, so please be considerate.
    </p>

    <p>In each round you will be asked to choose one of two actions <b>Collaborate</b> or <b>Not Collaborate</b>.
    Your choice will be played with all other players simultaneously, i.e., in every round you choose one action which will be played against each other player.</p>

    <p>In every round you will see the action, which the players have chosen in the <b>last round</b>. This information will be summarised via the following image.</p>


    <div style="margin: auto">
        {{ include "game.svg"}}
    </div>
</div>



<br>
<br>

<div class="card card-body bg-light instructions">
    <h4>Point Calculation</h4>
    <br>
    <p>Your earnings will be calculated in two parts.</p>

    <p>The <b>first</b> part of the earnings is determined by your choice to <b>Collaborate</b> or <b>Not Collaborate</b> and the choice of the other 20 players. According to the table below you will receive for each opponent the points corresponding to your and their choice.</p>

    <table class="table table-bordered text-center" style="width: auto; margin: auto">
        <tr>
            <th colspan="2" rowspan="2"></th>
            <th colspan="2"><center style="color: gray;">Player X</center></th>
            </tr>
            <tr>
                <th><center>Collaborate</center></th>
                <th><center>Don't collaborate</center></th>
            </tr>
        <tr class="highlight-row-on-hover">
                <th rowspan="2"><span style="color: blue;">You</span></th>
                <td><button name="decision" value="C" class="btn btn-primary btn-large" disabled>Collaborate</button></td>
                <td  style="font-size: 2em;"><b style="color: blue;">5</b>, <b style="color: gray;">5</b></td>
                <td  style="font-size: 2em;"><b style="color: blue;">1</b>, <b style="color: gray;">8</b></td>
        </tr>
        <tr class="highlight-row-on-hover">
                <td><button name="decision" value="D" class="btn btn-primary btn-large" disabled>Don't collaborate</button></td>
                <td style="font-size: 2em;"><b style="color: blue">8</b>, <b style="color: gray;">1</b></td>
                <td style="font-size: 2em;"><b style="color: blue">2</b>, <b style="color: gray;">2</b></td>
        </tr>
    </table>
    <br>
    <p>The <b>second</b> part of the payoff comes in the form of a bonus. <b>IF you Collaborate</b> you will received <b>XX Points</b> for each player choosing to "Not Collaborate".</p>

</div>

<br>
<div class="card card-body bg-light instructions">
    <h4>Example of a round</h4>

    <br>
    <p>Consider the example where you and 3 other players choose to <b>Collaborate</b> and the remaining 17 choose to <b>Not Collaborate</b>.</p>
        <ol>
          <li>for each player choosing to <b>Collaborate</b> you earn 5 points: 5 times 3 players = 15  </li>
          <li>for each player choosing to <b>Not Collaborate</b> you earn 1 point: 1 times 17 players = 17  </li>
          <li>First payoff is 15 + 17 = 31</li>
          <li>Because you choose to collaborate you get an additional X points for each player choosing to <b>Not Collaborate</b></li>
          <li>Second payoff is thus X * 17 = 17X</li>
          <li>In total you earn 31 + 17X</li>
        </ol>
    <p>Had you chosen to <b>Not Collaborate</b> this would have been the calculation:</p>
        <ol>
          <li>for each player choosing to <b>Collaborate</b> you earn 8 points: 8 times 3 players = 24  </li>
          <li>for each player choosing to <b>Not Collaborate</b> you earn 2 point: 2 times 17 players = 34  </li>
          <li>Your payoff is 24 + 34 = 58</li>
          <li>Since you chose to <b>Not Collaborate</b> you do not get any additional points.</li>
    </ol>
</div>

<br>

<div class="card card-body bg-light instructions">
    <h4>Overview of game steps</h4>
    <p>
    <ol>
      <li>We ask a few questions to make sure you understood the basics of the game.</li>
      <li>You are placed in an ongoing game with 20 other players.</li>
      <li>Your payoff is determined by your and the other player's choices.</li>
      <li>You play for several rounds.</li>
      <li>At the end we will ask a few debriefing questions.</li>
    </ol>
    </p>
</div>

<br>
<br>

{% next_button %}

{% endblock %}

{% block styles %}
    <style type="text/css">
        .big{
            font-size: large;
        }
    </style>

    <link rel="stylesheet" type="text/css" href="{% static 'global/matrix.css' %}" />

    <style>
        .highlight-row-on-hover:hover td {
            background-color: #fcf8e3;
        }

    </style>

{% endblock %}
