{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}
<div class="card card-body bg-light instructions">
    <h4>Overview of game steps</h4>
    <p>
    <ol>
        <li>We ask a few questions to make sure you understood the game.</li>
        <li>You are placed in an ongoing game with 20 players.</li>
        <li>You play for several rounds.</li>
        <li>At the end we will ask a few questions.</li>
    </ol>
    </p>
</div>
<br>
<br>
{% next_button %}

{% endblock %}

{% block styles %}
<style type="text/css">
    .big {
        font-size: large;
    }
</style>
<style>
    .highlight-row-on-hover:hover td {
        background-color: #fcf8e3;
    }
</style>

{% endblock %}
