{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}
<div class="card card-body bg-light instructions">
    <h4>The Game</h4>
    <br>
    <p>
        You will join an ongoing game playing against 20 players in real-time. The other players will be waiting until you have completed your round, so please be considerate. In each round, you will be asked to choose one of two actions: <b>C</b> or <b>D</b>. This choice will be played against all other players simultaneously.
    </p>
    <p>
        You choose <b>one action</b> to play against each player simultaneously. The <b>actions</b> in the </b>last round</b> are summarised in the image below.
    {{ include "global/game-wheel.html" }}
</div>
<br>
{% next_button %}

{% endblock %}

{% block styles %}
<style type="text/css">
    .big {
        font-size: large;
    }
</style>
<style>
    .highlight-row-on-hover:hover td {
        background-color: #fcf8e3;
    }
</style>

{% endblock %}
