{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}



<div class="card card-body bg-light instructions">
    <h4>Example Round</h4>


<div>
  <br>
  <div container="container">
    <div class="row">
        <div class="col float-start">
            {{ include "global/game-wheel.html" }}
        </div>
        <div class="col float-end align-self-center">
              {{ include "global/payoff_matrix.html" }}
        </div>
    </div>
</div>
</div>
    <br>
    {{ if is_in_deception_regime }}
    <p>3 players chose <b>A</b> and 17 chose <b>B</b></p>
    {{ else }}
    <p>3 bots chose <b>A</b> and 17 bots chose <b>B</b></p>
    {{ endif }}

    {{ if is_in_deception_regime }}
    <br>
    <h5>If you chose <b>A</b></h5>
    <ol>
        <li>For each player choosing <b>A</b> you earn {{ R }} &#8594; {{ R }} &times; 3 = {{ Rx3 }}</li>
        <li>For each player choosing <b>B</b> you earn {{S}} &#8594; {{S}} &times; 17 = {{Sx17}} </li>
        <li>First payoff &#8594; {{Rx3}} + {{Sx17}} = {{Rx3pSx17}}</li>
        <li>You chose A, so you get a bonus of {{bonus}} for each <b>B</b> &#8594; {{bonus}} &times; 17 = {{bonusx17}}</li>
    </ol>
    <p>Total: {{Rx3pSx17}} + {{bonusx17}}  = <strong>{{Rx3pSx17pbonusx17}}</strong><p>
    <h5>If you chose <b>B</b></h5>
    <ol>
        <li>For each player choosing <b>A</b> you earn {{T}} &#8594; {{T}} &times; 3 = {{Tx3}} </li>
        <li>For each player choosing <b>B</b> you earn {{P}} &#8594; {{P}} &times; 17 = {{Px17}} </li>
        <li>Since you chose <b>B</b>, you do not get a bonus.</li>
    </ol>
    <p>Total: {{Tx3}} + {{Px17}} = <strong>{{Tx3pPx17}}</strong><p>
    <br>
    {{ else }}
    <br>
    <h5>If you chose <b>A</b></h5>
    <ol>
        <li>For each bot choosing <b>A</b> you earn {{ R }} &#8594; {{ R }} &times; 3 = {{ Rx3 }}</li>
        <li>For each bot choosing <b>B</b> you earn {{S}} &#8594; {{S}} &times; 17 = {{Sx17}} </li>
        <li>First payoff &#8594; {{Rx3}} + {{Sx17}} = {{Rx3pSx17}}</li>
        <li>You chose A, so you get a bonus of {{bonus}} for each <b>B</b> &#8594; {{bonus}} &times; 17 = {{bonusx17}}</li>
    </ol>
    <p>Total: {{Rx3pSx17}} + {{bonusx17}}  = <strong>{{Rx3pSx17pbonusx17}}</strong><p>
    <h5>If you chose <b>B</b></h5>
    <ol>
        <li>For each bot choosing <b>A</b> you earn {{T}} &#8594; {{T}} &times; 3 = {{Tx3}} </li>
        <li>For each bot choosing <b>B</b> you earn {{P}} &#8594; {{P}} &times; 17 = {{Px17}} </li>
        <li>Since you chose <b>B</b>, you do not get a bonus.</li>
    </ol>
    <p>Total: {{Tx3}} + {{Px17}} = <strong>{{Tx3pPx17}}</strong><p>
    <br>
    {{ endif }}
</div>
<br>
<br>

{% next_button %}

{% endblock %}

{% block styles %}
<style type="text/css">
    .big {
        font-size: large;
    }
</style>
<style>
    .highlight-row-on-hover:hover td {
        background-color: #fcf8e3;
    }
</style>

{% endblock %}
