{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}

<div class="card card-body bg-light instructions">
    <h4>Point Calculation</h4>
    <br>
    <p>Your earnings will be calculated in two parts.</p>
    {{ if is_in_deception_regime }}
    <p>The first is a <b>payoff</b> and depends on your and the others' choices.
        Your choice is the row; the other's choices are the columns.
        The payoff is the cell in the table corresponding to your and their choice.
        The total payoff is the sum of all the other players' choices (an example follows).
    </p>
    <p>The second is a <b>bonus</b> of {{bonus}}.
        You receive a bonus for every player choosing <b>B</b>, <em>if and only if</em> you choose <b>A</b>.
    </p>
    {{ else }}
    <p>The first is a <b>payoff</b> and depends on your and the bots' choices.
        Your choice is the row; their choices are the columns.
        The payoff is the cell in the table corresponding to your and their choice.
        The total payoff is the sum of all the bots' choices (an example follows).
    </p>
    <p>The second is a <b>bonus</b> of {{bonus}}.
        You receive a bonus for every bot choosing <b>B</b>, <em>if and only if</em> you choose <b>A</b>.
    </p>
    {{ endif }}
    {% include "global/payoff_matrix.html" %}
<br>
    <h3>Note</h3>
    <p>Conversion rate: 200 points are worth {{ value_of_200_points }}</p>
    <p>Your final earnings—at the end of the game—will be the sum of the showup fee plus the payoff of a randomly chosen round.</p>
    <br>
    <br>
    {% next_button %}
</div>




{% endblock %}

{% block styles %}
<style type="text/css">
    .big {
        font-size: large;
    }
</style>
<style>
    .highlight-row-on-hover:hover td {
        background-color: #fcf8e3;
    }
</style>

{% endblock %}
