{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}



<div class="card card-body bg-light instructions">
    <h4>Example Round</h4>


<div>
  <br>
  <div container="container">
    <div class="row">
        <div class="col float-start">
            {{ include "global/game-wheel.html" }}
        </div>
        <div class="col ml-auto">
            <div class="form-group required">
              {% include "global/payoff_matrix.html" %}
            </div>
            <br>
        </div>
    </div>
  </div>
</div>
    <br>
    <p>3 other players chose <b>C</b> and 17 chose <b>D</b></p>
    <br>
    <h5>You chose <b>C</b></h5>
    <ol>
        <li>for each player choosing <b>C</b> you earn {{ R }}: {{ R }} x 3 = {{ Rx3 }}
        </li>
        <li>for each player choosing <b>D</b> you earn {{S}}: {{S}} x 17 = {{Sx17}} </li>
        <li>Direct payoff: {{Rx3}} + {{Sx17}} = {{Rx3pSx17}}</li>
        <li>You get {{bonus}} for each player choosing <b>D</b>: {{bonus}} * 17 = {{bonusx17}}</li>
    </ol>
    <p>Payoff: {{bonusx17}} + {{Rx3pSx17}} = <strong>{{Rx3pSx17pbonusx17}}</strong><p>
        <h5>You chose <b>D</b></h5>
    <ol>
        <li>for each player choosing to <b>C</b> you earn {{T}}: {{T}} x 3 = {{Tx3}} </li>
        <li>for each player choosing to <b>D</b> you earn {{P}}: {{P}} x 17 = {{Px17}} </li>
        <li>Since you chose to <b>D</b> you do not get any additional points.</li>
    </ol>
    <p>Payoff: {{Tx3}} + {{Px17}} = <strong>{{Tx3pPx17}}</strong><p>
    <br>
    <h5>Conversion rate</h5>
    <p>200 points = {{ value_of_200_points }} </p>
</div>
<br>
<br>

{% next_button %}

{% endblock %}

{% block styles %}
<style type="text/css">
    .big {
        font-size: large;
    }
</style>
<style>
    .highlight-row-on-hover:hover td {
        background-color: #fcf8e3;
    }
</style>

{% endblock %}
