{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Instructions
{% endblock %}

{% block content %}
<div class="card card-body bg-light instructions">
<p class="big">


    <p> In this experiment you will be randomly paired with some other participants for 1 round: they will be named your "neighbourhood".</p>

    <p>Once a match ends, your payoff and the number of cooperators and defectors in your neighbourhood will be displayed.</p>

    <p>You and each player in your neighbourhood will choose simultaneously between two actions,
        <b>Cooperate</b> and <b>Defect</b>.</p>

    <p>This table shows the payoff associated with each choice for each player you are paired with:

<table class='table table-bordered text-center'
           style='width: auto; margin: auto'>
        <tr>
            <th colspan=2 rowspan=2></th>
            <th colspan=2>Other Participant</th>
        </tr>
        <tr>
            <th>Cooperate</th>
            <th>Defect</th>
        </tr>
        <tr>
            <th rowspan=2><span class="rotate90">You</span></th>
            <th>Cooperate</th>
            <td>{{ Constants.R }}, {{ Constants.R }}</td>
            <td>{{ Constants.S }} + tax * {{ Constants.T }}, (1 - tax) * {{ Constants.T }}</td>
        </tr>
        <tr>
            <th>Defect</th>
            <td>(1 - tax) * {{ Constants.T }}, {{ Constants.S }} + tax * {{ Constants.T }}</td>
            <td>(1 - tax) * {{ Constants.P }}, (1 - tax) * {{ Constants.P }}</td>
        </tr>
    </table>

    <p></p>

    <p>The first entry in each cell represents your payoff, while the second entry represents the payoff of the person you are matched with. To be clearer, suppose first that the tax rate is 0%:</p>

<ul>
    <li>If you select Cooperate and the other selects Cooperate, you each make 5.</li>
    <li>If you select Cooperate and the other selects Defect, you make 3 while the other makes 10.</li>
    <li>If you select Defect and the other selects Defect, the payoff is obtained in the exact opposite manner as above.</li>
    <li>If you select Defect and the other selects Defect, you each make 4.</li>
</ul>

<p>Suppose now that the tax rate is 50%:</p>

<ul>
    <li>If you select Cooperate and the other selects Cooperate, you each make 5 and pay no taxes because you have both cooperated.</li>
    <li>If you select Cooperate and the other selects Defect, you make 3 while the other makes 10. You then pay 1.5 in taxes and the other pays 5. In the end, you receive back 6.5 and the other 0 because you have cooperated and the other has defected. In the end, you get 11 and the other gets 5.</li>
    <li>If you select Defect and the other selects Defect, the payoff is obtained in the exact opposite manner as above.</li>
    <li>If you select Defect and the other selects Defect, you each make 4 and pay 2 in taxes. In the end, you each get 2.</li>
</ul>

    <p> Once you and all the players in your neighbourhood make choices, those choices will be highlighted and your payoff displayed.</p>

    <b> The tax rate applied on your game is {{ tax }}%.</b>

    {% next_button %}

{% endblock %}

{% block styles %}
    <style type="text/css">
        .big{
            font-size: large;
        }
    </style>

{% endblock %}