{% extends "global/Page.html" %}
{% load otree static %}
{% block content %}

<div>
    <div container="container">
        <div style="margin: auto; text-align:center;" class='card'>
            <div class="card-header">Finished 🎉! Thank you for participating.</div>
            <div class='card-body'>
                <h1>Don't close this window</h1>
                <br>
                <br>
                <p>
                    In the Bonus game round <b>{{ round_to_pay_bonus}}</b> was chosen at radom for your payoff.<br>In that round you earned <b>{{payoff_bonus}}</b>.
                </p>
                <p>
                    In the bomb game you earned <b>{{bret_payoff}}</b>.
                </p>
                <br>
                <h4>In total you earned {{ payoff }} worth</h4>
                <h2>{{ real_payoff }}</h2>
                <br>
                <a href="{ session.prolific_completion_url }}"><span class="btn btn-primary submit">Click here to complete the study</button></span></a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
