{% extends "global/Page.html" %}
{% load otree static %}
{% block content %}

<div>
    <div container="container">
        <div style="margin: auto; text-align:center;" class='card'>
            <div class="card-header">Finished 🎉! Thank you for participating.</div>
            <div class='card-body'>
                <h1>Don't close this window</h1>
                <br>
                <br>
                <h4>You earned <b>{{ cumulative_payoff }}</b></h4>
                <br>
                <a href="{ session.prolific_completion_url }}"><span class="btn btn-primary submit">Click here to complete the study</button></span></a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
