{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Round recap and results
{% endblock %}

{% block content %}
<div class="card card-body bg-light instructions">
    Round {{ round_num }} of the game has now ended. Below you can see the bonus of this round and how your payoff was computed.
</div>

<br>
<br>

<div class="card card-body bg-light instructions">
	<p> The <b>bonus</b> has been computed from the following operations. <!-- (by convention the division by <b>0</b> equals also <b>0</b>). {{ n_C_1 }} players cooperated and {{ n_D_1 }} did not; initially, cooperators got each {{ coop_payoff }} and non-cooperators got each {{ def_payoff}}. -->
		<ul>
	          <li><b>{{ n_C_1 }}</b> players cooperated and each got <b>{{ coop_payoff }}</b>.</li>
	          <li><b>{{ n_D_1 }}</b> players did not cooperate and each got <b>{{ def_payoff }}</b>.</li>
	          <li>The bonus pot contains <b>{{ tax }}% × ({{ n_C_1 }} × {{ coop_payoff }} + {{ n_D_1 }} × {{ def_payoff }}) = {{ pot }}</b>.</li>
	          <li>The bonus for each cooperator is <b>{{ pot }}/{{ n_C_1 }} = {{ bonus_coop }}</b>.</li>
	    </ul>
	</p>
</div>

<br>
<br>

<div class="card card-body bg-light instructions">
	<div style="text-align:center">
		<b> My payoff in round {{ round_num }} </b>

		<p>



		</p>

		<table>
		  <tr>
		  	<th>Payoff from {{ my_decision }}</th>
		    <th>+ {{ init }}</th>
		  </tr>
		  <tr>
		  	<th>Tax on you</th>
		    <th>- {{ tax }}% × {{ init }} </th>
		  </tr>
		  <tr>
		  	<th>Bonus</th>
		    <th>+ {{ bonus }}</th>
		  </tr>
		  <tr>
		  	<th>Total</th>
		    <th>= {{ my_payoff }} </th>
		  </tr>
		</table>
	</div>
</div>

<br>
<br>
<br>

<div style="text-align:center">
	<b> My neighbourhood in round {{ round_num }} </b>
</div>

<br>

<!-- <div style="text-align:center">
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 427.5 599" width="600px" height="600px">
	    <defs>
	        <style>
	            .cls-1 {
	                fill: #e6e7e8;
	            }

	            .cls-2 {
	                fill: DarkMagenta/*#9e1f63;*/
	            }

	            .cls-15,
	            .cls-3 {
	                font-size: 15px;
	                fill: #231f20;
	                font-family: MyriadPro-Regular, Myriad Pro;
	            }

	            .cls-4 {
	                letter-spacing: -0.01em;
	            }

	            .cls-5 {
	                letter-spacing: 0em;
	            }

	            .cls-6 {
	                fill: Orange/*#f7941d;*/
	            }

	            .cls-10,
	            .cls-11,
	            .cls-7,
	            .cls-8,
	            .cls-9 {
	                fill: none;
	                stroke-miterlimit: 10;
	            }

	            .cls-10,
	            .cls-7,
	            .cls-8,
	            .cls-9 {
	                stroke: #bcbec0;
	            }

	            .cls-7,
	            .cls-8 {
	                stroke-width: 1.39px;
	            }

	            .cls-8 {
	                stroke-dasharray: 8.04 8.04;
	            }

	            .cls-10,
	            .cls-9 {
	                stroke-width: 0.98px;
	            }

	            .cls-10 {
	                stroke-dasharray: 7.86 7.86;
	            }

	            .cls-11 {
	                stroke: #231f20;
	                stroke-width: 4px;
	            }

	            .cls-12 {
	                letter-spacing: 0em;
	            }

	            .cls-13 {
	                letter-spacing: -0.01em;
	            }

	            .cls-14 {
	                letter-spacing: -0.01em;
	            }

	            .cls-15 {
	                letter-spacing: -0.08em;
	            }

	            .cls-16 {
	                letter-spacing: 0em;
	            }

	            .cls-17 {
	                fill: #a7a9ac;
	            }
	        </style>
	    </defs>
	    <g id="legend">
	        <rect class="cls-1" x="68.88" y="529" width="289.74" height="70" rx="10.44" />
	        <circle class="cls-2" cx="103.06" cy="566.08" r="15.88" />
	        <text class="cls-3" transform="translate(126.45 572.17)">Not collaborate</text>
	        <circle class="cls-6" cx="241.19" cy="566.08" r="15.88" />
	        <text class="cls-3" transform="translate(265.34 572.17)">Collaborate</text>
	    </g>
	    <g id="otherlinks">
	        <path class="cls-7" d="M45,43.94a15.66,15.66,0,0,1,3.15-2.45" />
	        <path class="cls-8"
	            d="M55.72,38.92C90.19,33.65,174.3,87.5,257.35,170.3c86.36,86.11,141.43,173.48,131.06,205.14" />
	        <path class="cls-7" d="M386.77,379.1a15.36,15.36,0,0,1-2.43,3.16" />
	        <path class="cls-9" d="M382.75,382.5a11.12,11.12,0,0,1-.72,3.91" />
	        <path class="cls-10" d="M377.62,392.85c-18.47,18.27-84.72,31.8-163.62,31.8-83.13,0-152.22-15-166.18-34.78" />
	        <path class="cls-9" d="M46,386.41a11.12,11.12,0,0,1-.72-3.91" />
	        <path class="cls-9" d="M45,382.5a11.12,11.12,0,0,1-3.91-.72" />
	        <path class="cls-10" d="M34.65,377.37C16.38,358.9,2.85,292.65,2.85,213.75c0-83.13,15-152.22,34.78-166.18" />
	        <path class="cls-9" d="M41.09,45.72A11.12,11.12,0,0,1,45,45" />
	        <path class="cls-9" d="M383,45a11.12,11.12,0,0,1,3.91.72" />
	        <path class="cls-10" d="M393.35,50.13c18.27,18.47,31.8,84.72,31.8,163.62,0,83.13-15,152.22-34.78,166.18" />
	        <path class="cls-9" d="M386.91,381.78a11.12,11.12,0,0,1-3.91.72" />
	        <path class="cls-9" d="M45,44.5a11.12,11.12,0,0,1,.72-3.91" />
	        <path class="cls-10" d="M50.13,34.15C68.6,15.88,134.85,2.35,213.75,2.35c83.13,0,152.22,15,166.18,34.78" />
	        <path class="cls-9" d="M381.78,40.59a11.12,11.12,0,0,1,.72,3.91" />
	        <path class="cls-7" d="M41.34,382.5a16,16,0,0,1-2.44-3.15" />
	        <path class="cls-8"
	            d="M36.34,371.78C31.12,337.31,85.1,253.27,168,170.35,254.26,84.11,341.7,29.17,373.35,39.59" />
	        <path class="cls-7" d="M377,41.23a16,16,0,0,1,3.16,2.44" />
	    </g>
	    <g id="mainlinks">
	        <line class="cls-11" x1="44.5" y1="44.5" x2="214" y2="213.5" />
	        <line class="cls-11" x1="382.5" y1="44.5" x2="214" y2="213.75" />
	        <line class="cls-11" x1="383" y1="382.5" x2="214" y2="213.75" />
	        <line class="cls-11" x1="214.25" y1="213.5" x2="45.25" y2="382.5" />
	    </g>
	    <g id="names">
            <text class="cls-3" transform="translate(13.93 120.79)">Player {{ rand1 }}</text>
            <text class="cls-3" transform="translate(348.78 120.79)">Player {{ rand2 }}</text>
            <text class="cls-3" transform="translate(12.36 464.17)">Player {{ rand3 }}</text>
            <text class="cls-3" transform="translate(350.36 459.58)">Player {{ rand4 }}</text>
            <text class="cls-15" transform="translate(202.67 281)">You</text>
        </g>
	    <g id="circles">
	        <circle id=circ0 class="cls-6" cx="44.5" cy="44.5" r="24.5" />
	        <circle id=circ1 class="cls-6" cx="382.5" cy="44.5" r="24.5" />
	        <circle id=circ2 class="cls-6" cx="45" cy="382.5" r="24.5" />
	        <circle id=circ3 class="cls-2" cx="383" cy="382.5" r="24.5" />
	        <circle id=circ4 class="cls-17" cx="214" cy="213.5" r="24.5" />
	    </g>
	</svg>
</div>

<script>
	var n_C = {{ n_C }};
	var n_D = {{ n_D }};
	var n_C_1 = {{ n_C_1 }};
	var me = n_C_1 - n_C

	var neigh_size = n_C + n_D
	for(var i = 0; i < neigh_size; i++) {
	      if (n_C > 0){ //cooperators
	      	document.getElementById('circ' + String(i)).style.fill= "Orange"; //#f7941d
	      }
	      else { //Non-collaborators
	      	document.getElementById('circ' + String(i)).style.fill= "DarkMagenta";//#9e1f6
	      }
	      n_C = n_C - 1;
	}
	if (me != 0) {
		document.getElementById('circ4').style.fill= "Orange";
	}
	else {
		document.getElementById('circ4').style.fill= "DarkMagenta";
	}
</script> -->

<div style="text-align:center">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 508.32 584.89" width="700px" height="700px">
  <defs>
    <style>
      .a, .b {
        fill: none;
        stroke: #cccccb;
      }

      .a, .b, .d, .f {
        stroke-miterlimit: 10;
      }

      .b {
        stroke-dasharray: 4 4;
      }

      .c {
        font-size: 20px;
      }

      .c, .e, .h, .l {
        fill: #231f20;
      }

      .c, .e, .k {
        font-family: Helvetica;
      }

      .d {
        fill: #c64d9c;
      }

      .d, .f {
        stroke: #fff;
      }

      .e {
        font-size: 28px;
      }

      .f {
        fill: #97cef0;
      }

      .g {
        fill: #cccccb;
      }

      .h {
        font-size: 23.9px;
      }

      .h, .m {
        font-family: Helvetica-Bold, Helvetica;
        font-weight: 700;
      }

      .i {
        letter-spacing: -0.07em;
      }

      .j {
        letter-spacing: 0em;
      }

      .k {
        font-weight: 400;
      }

      .l {
        font-size: 15px;
        font-family: Helvetica-Light, Helvetica;
        font-weight: 300;
      }
    </style>
  </defs>
  <g>
    <g>
      <line class="a" x1="252.44" y1="255.87" x2="252.44" y2="253.37"/>
      <line class="b" x1="252.44" y1="248.48" x2="252.44" y2="84.59"/>
      <line class="a" x1="252.44" y1="82.15" x2="252.44" y2="79.65"/>
    </g>
    <g>
      <line class="a" x1="252.44" y1="255.87" x2="251.67" y2="253.49"/>
      <line class="b" x1="250.16" y1="248.84" x2="199.52" y2="92.98"/>
      <line class="a" x1="198.76" y1="90.65" x2="197.99" y2="88.27"/>
    </g>
    <g>
      <line class="a" x1="252.44" y1="255.87" x2="250.97" y2="253.85"/>
      <line class="b" x1="248.1" y1="249.89" x2="151.77" y2="117.31"/>
      <line class="a" x1="150.33" y1="115.33" x2="148.86" y2="113.3"/>
    </g>
    <g>
      <line class="a" x1="252.44" y1="255.87" x2="250.42" y2="254.4"/>
      <line class="b" x1="246.46" y1="251.53" x2="113.88" y2="155.2"/>
      <line class="a" x1="111.9" y1="153.76" x2="109.87" y2="152.29"/>
    </g>
    <g>
      <line class="a" x1="252.44" y1="255.87" x2="250.07" y2="255.1"/>
      <line class="b" x1="245.41" y1="253.59" x2="89.55" y2="202.94"/>
      <line class="a" x1="87.22" y1="202.19" x2="84.84" y2="201.42"/>
    </g>
    <g>
      <line class="a" x1="252.44" y1="255.87" x2="249.94" y2="255.87"/>
      <line class="b" x1="245.05" y1="255.87" x2="81.17" y2="255.87"/>
      <line class="a" x1="78.72" y1="255.87" x2="76.22" y2="255.87"/>
    </g>
    <g>
      <line class="a" x1="252.44" y1="255.87" x2="250.07" y2="256.64"/>
      <line class="b" x1="245.41" y1="258.16" x2="89.55" y2="308.8"/>
      <line class="a" x1="87.22" y1="309.56" x2="84.84" y2="310.33"/>
    </g>
    <g>
      <line class="a" x1="252.44" y1="255.87" x2="250.42" y2="257.34"/>
      <line class="b" x1="246.46" y1="260.22" x2="113.88" y2="356.55"/>
      <line class="a" x1="111.9" y1="357.98" x2="109.87" y2="359.45"/>
    </g>
    <g>
      <line class="a" x1="252.44" y1="255.87" x2="250.97" y2="257.89"/>
      <line class="b" x1="248.1" y1="261.85" x2="151.77" y2="394.44"/>
      <line class="a" x1="150.33" y1="396.42" x2="148.86" y2="398.44"/>
    </g>
    <g>
      <line class="a" x1="252.44" y1="255.87" x2="251.67" y2="258.25"/>
      <line class="b" x1="250.16" y1="262.9" x2="199.52" y2="418.77"/>
      <line class="a" x1="198.76" y1="421.09" x2="197.99" y2="423.47"/>
    </g>
    <g>
      <line class="a" x1="252.44" y1="255.87" x2="252.44" y2="258.37"/>
      <line class="b" x1="252.44" y1="263.26" x2="252.44" y2="427.15"/>
      <line class="a" x1="252.44" y1="429.6" x2="252.44" y2="432.1"/>
    </g>
    <g>
      <line class="a" x1="252.44" y1="255.87" x2="253.22" y2="258.25"/>
      <line class="b" x1="254.73" y1="262.9" x2="305.37" y2="418.77"/>
      <line class="a" x1="306.13" y1="421.09" x2="306.9" y2="423.47"/>
    </g>
    <g>
      <line class="a" x1="252.44" y1="255.87" x2="253.91" y2="257.89"/>
      <line class="b" x1="256.79" y1="261.85" x2="353.12" y2="394.44"/>
      <line class="a" x1="354.56" y1="396.42" x2="356.02" y2="398.44"/>
    </g>
    <g>
      <line class="a" x1="252.44" y1="255.87" x2="254.47" y2="257.34"/>
      <line class="b" x1="258.42" y1="260.22" x2="391.01" y2="356.55"/>
      <line class="a" x1="392.99" y1="357.98" x2="395.01" y2="359.45"/>
    </g>
    <g>
      <line class="a" x1="252.44" y1="255.87" x2="254.82" y2="256.64"/>
      <line class="b" x1="259.47" y1="258.16" x2="415.34" y2="308.8"/>
      <line class="a" x1="417.66" y1="309.56" x2="420.04" y2="310.33"/>
    </g>
    <g>
      <line class="a" x1="252.44" y1="255.87" x2="254.94" y2="255.87"/>
      <line class="b" x1="259.84" y1="255.87" x2="423.72" y2="255.87"/>
      <line class="a" x1="426.17" y1="255.87" x2="428.67" y2="255.87"/>
    </g>
    <g>
      <line class="a" x1="252.44" y1="255.87" x2="254.82" y2="255.1"/>
      <line class="b" x1="259.47" y1="253.59" x2="415.34" y2="202.94"/>
      <line class="a" x1="417.66" y1="202.19" x2="420.04" y2="201.42"/>
    </g>
    <g>
      <line class="a" x1="252.44" y1="255.87" x2="254.47" y2="254.4"/>
      <line class="b" x1="258.42" y1="251.53" x2="391.01" y2="155.2"/>
      <line class="a" x1="392.99" y1="153.76" x2="395.01" y2="152.29"/>
    </g>
    <g>
      <line class="a" x1="252.44" y1="255.87" x2="253.91" y2="253.85"/>
      <line class="b" x1="256.79" y1="249.89" x2="353.12" y2="117.31"/>
      <line class="a" x1="354.56" y1="115.33" x2="356.02" y2="113.3"/>
    </g>
    <g>
      <line class="a" x1="252.44" y1="255.87" x2="253.22" y2="253.49"/>
      <line class="b" x1="254.73" y1="248.84" x2="305.37" y2="92.98"/>
      <line class="a" x1="306.13" y1="90.65" x2="306.9" y2="88.27"/>
    </g>
  </g>
  <text class="c" transform="translate(258.31 44.49) rotate(-90)">P{{ rand1 }}</text>
  <text class="c" transform="translate(258.31 508.29) rotate(-90)">P{{ rand2 }}</text>
  <text class="c" transform="translate(180.02 497.75) rotate(-72)">P{{ rand3 }}</text>
  <text class="c" transform="translate(108.82 463.53) rotate(-54)">P{{ rand4 }}</text>
  <text class="c" transform="translate(51.68 408.99) rotate(-36)">P{{ rand5 }}</text>
  <text class="c" transform="translate(14.19 339.45) rotate(-18)">P{{ rand6 }}</text>
  <text class="c" transform="translate(0 261.76)">P{{ rand7 }}</text>
  <text class="c" transform="matrix(0.95, 0.31, -0.31, 0.95, 10.53, 183.47)">P{{ rand8 }}</text>
  <text class="c" transform="matrix(0.81, 0.59, -0.59, 0.81, 44.75, 112.26)">P{{ rand9 }}</text>
  <text class="c" transform="matrix(0.59, 0.81, -0.81, 0.59, 99.29, 55.1)">P{{ rand10 }}</text>
  <text class="c" transform="translate(168.83 17.61) rotate(72)">P{{ rand11 }}</text>
  <text class="c" transform="translate(312.18 458.72) rotate(72)">P{{ rand12 }}</text>
  <text class="c" transform="translate(371.94 430.33) rotate(54)">P{{ rand13 }}</text>
  <text class="c" transform="matrix(0.81, 0.59, -0.59, 0.81, 420, 384.87)">P{{ rand14 }}</text>
  <text class="c" transform="translate(451.66 326.77) rotate(18)">P{{ rand15 }}</text>
  <text class="c" transform="translate(463.82 261.74)">P{{ rand16 }}</text>
  <text class="c" transform="matrix(0.95, -0.31, 0.31, 0.95, 455.29, 196.14)">P{{ rand17 }}</text>
  <text class="c" transform="matrix(0.81, -0.59, 0.59, 0.81, 426.9, 136.38)">P{{ rand18 }}</text>
  <text class="c" transform="matrix(0.59, -0.81, 0.81, 0.59, 381.44, 88.31)">P{{ rand19 }}</text>
  <text class="c" transform="translate(323.35 56.65) rotate(-72)">P{{ rand20 }}</text>
  <!-- <g>
    <circle id=circ0 class="d" cx="252.44" cy="79.65" r="21.68"/>
    <text id=text0 class="e" transform="translate(242.09 89.24)">N</text>
  </g> -->
  <g>
    <circle id=circ1 class="d" cx="356.02" cy="113.3" r="21.68"/>
    <text id=text1 class="e" transform="matrix(0.81, 0.59, -0.59, 0.81, 342.01, 114.98)">N</text>
  </g>
  <g>
    <circle id=circ2 class="d" cx="420.04" cy="201.42" r="21.68"/>
    <text id=text2 class="e" transform="matrix(0.31, 0.95, -0.95, 0.31, 407.72, 194.54)">N</text>
  </g>
  <g>
    <circle id=circ3 class="d" cx="420.04" cy="310.33" r="21.68"/>
    <text id=text3 class="e" transform="matrix(-0.31, 0.95, -0.95, -0.31, 414.12, 297.52)">N</text>
  </g>
  <g>
    <circle id=circ4 class="d" cx="356.02" cy="398.44" r="21.68"/>
    <text id=text4 class="e" transform="matrix(-0.81, 0.59, -0.59, -0.81, 358.76, 384.59)">N</text>
  </g>
  <g>
    <circle id=circ5 class="d" cx="252.44" cy="432.1" r="21.68"/>
    <text id=text5 class="e" transform="translate(262.79 422.5) rotate(180)">N</text>
  </g>
  <g>
    <circle id=circ6 class="d" cx="148.86" cy="398.44" r="21.68"/>
    <text id=text6 class="e" transform="matrix(-0.81, -0.59, 0.59, -0.81, 162.87, 396.76)">N</text>
  </g>
  <g>
    <circle id=circ7 class="d" cx="84.84" cy="310.33" r="21.68"/>
    <text id=text7 class="e" transform="matrix(-0.31, -0.95, 0.95, -0.31, 97.17, 317.21)">N</text>
  </g>
  <g>
    <circle id=circ8 class="d" cx="84.84" cy="201.42" r="21.68"/>
    <text id=text8 class="e" transform="matrix(0.31, -0.95, 0.95, 0.31, 90.77, 214.22)">N</text>
  </g>
  <g>
    <circle id=circ9 class="d" cx="148.86" cy="113.3" r="21.68"/>
    <text id=text9 class="e" transform="matrix(0.81, -0.59, 0.59, 0.81, 146.13, 127.15)">N</text>
  </g>
  <g>
    <circle id=circ10 class="f" cx="306.9" cy="88.27" r="21.68"/>
    <text id=text10 class="e" transform="matrix(0.95, 0.31, -0.31, 0.95, 294.09, 94.2)">C</text>
  </g>
  <g>
    <circle id=circ11 class="f" cx="395.01" cy="152.29" r="21.68"/>
    <text id=text11 class="e" transform="matrix(0.59, 0.81, -0.81, 0.59, 381.17, 149.56)">C</text>
  </g>
  <g>
    <circle id=circ12 class="d" cx="428.67" cy="255.87" r="21.68"/>
    <text id=text12 class="e" transform="translate(419.07 245.52) rotate(90)">N</text>
  </g>
  <g>
    <circle id=circ13 class="d" cx="395.01" cy="359.45" r="21.68"/>
    <text id=text13 class="e" transform="translate(393.33 345.44) rotate(126)">N</text>
  </g>
  <g>
    <circle id=circ14 class="f" cx="306.9" cy="423.47" r="21.68"/>
    <text id=text14 class="e" transform="translate(313.78 411.15) rotate(162)">C</text>
  </g>
  <g>
    <circle id=circ15 class="f" cx="197.99" cy="423.47" r="21.68"/>
    <text id=text15 class="e" transform="translate(210.8 417.54) rotate(-162)">C</text>
  </g>
  <g>
    <circle id=circ16 class="f" cx="109.87" cy="359.45" r="21.68"/>
    <text id=text16 class="e" transform="matrix(-0.59, -0.81, 0.81, -0.59, 123.72, 362.19)">C</text>
  </g>
  <g>
    <circle id=circ17 class="f" cx="76.22" cy="255.87" r="21.68"/>
    <text id=text17 class="e" transform="matrix(0, -1, 1, 0, 85.81, 266.22)">C</text>
  </g>
  <g>
    <circle id=circ18 class="f" cx="109.87" cy="152.29" r="21.68"/>
    <text id=text18 class="e" transform="matrix(0.59, -0.81, 0.81, 0.59, 111.55, 166.3)">C</text>
  </g>
  <g>
    <circle id=circ19 class="f" cx="197.99" cy="88.27" r="21.68"/>
    <text id=text19 class="e" transform="matrix(0.95, -0.31, 0.31, 0.95, 191.11, 100.6)">C</text>
  </g>
  <circle id=circ20 class="g" cx="252.44" cy="255.87" r="41.65"/>
  <g>
    <circle id=circ0 class="d" cx="252.44" cy="79.65" r="21.68"/>
    <text id=text0 class="e" transform="translate(242.09 89.24)">N</text>
  </g>
  <text class="h" transform="translate(230.75 248.46)"><tspan class="i">You</tspan><tspan class="k"><tspan x="-4.9" y="28.68"> {{ rand_you }}</tspan></tspan></text>
  <g>
    <g>
      <circle class="f" cx="52.16" cy="561.83" r="21.68"/>
      <text class="e" transform="translate(41.81 571.42)">C</text>
    </g>
    <text class="l" transform="translate(95.84 557.31)">Chose to <tspan class="m" x="64.2" y="0">Cooperate</tspan><tspan x="0" y="18">in last round</tspan></text>
  </g>
  <g>
    <text class="l" transform="translate(323.35 557.3)">Chose to <tspan class="m" x="64.2" y="0">Not Cooperate</tspan><tspan x="0" y="18">in last round</tspan></text>
    <g>
      <circle class="d" cx="279.67" cy="561.83" r="21.68"/>
      <text class="e" transform="translate(269.32 571.42)">N</text>
    </g>
  </g>
</svg>

</div>

<!-- JS for colouring -->
<script>
    var n_C = {{ n_C }};
    var n_D = {{ n_D }};
    var n_C_1 = {{ n_C_1 }};
    var me = n_C_1 - n_C;

    var neigh_size = n_C + n_D;
    var list = [9, 3, 15, 17, 5, 10, 7, 11, 12, 1, 14, 13, 16, 8, 6, 18, 2, 0, 4, 19];

    // document.write(list);

    // for (var i = 0; i < list.length; i++) {
    //   if (n_C > 0){ //Non-cooperators
    //     document.getElementById('circ' + String(list[i])).style.fill = "Red";//"#c64d9c";
    //     document.getElementById('text' + String(list[i])).textContent = "N";
    //   }
    //   else { //Cooperators
    //     document.getElementById('circ' + String(list[i])).style.fill = "Blue";//"#97cef0";
    //     document.getElementById('text' + String(list[i])).textContent = "C";
    //   }
    //   n_C = n_C - 1;
    // }
    // if (n_C_1 != -1) {
    //     if (me == 0) {
    //         document.getElementById('circ20').style.fill = "#c64d9c";
    //     }
    //     else {
    //         document.getElementById('circ20').style.fill = "#97cef0";
    //     }
    // }


    for (var i = 0; i < list.length; i++) {
      if (n_C > 0){ //Cooperators
        document.getElementById('circ' + String(list[i])).style.fill = "#97cef0";
        document.getElementById('text' + String(list[i])).textContent = "C";
      }
      else { //Non-cooperators
      	document.getElementById('circ' + String(list[i])).style.fill = "#c64d9c";
        document.getElementById('text' + String(list[i])).textContent = "N";
      }
      n_C = n_C - 1;
    }
    if (n_C_1 != -1) {
        if (me == 0) {
            document.getElementById('circ20').style.fill = "#c64d9c";
        }
        else {
            document.getElementById('circ20').style.fill = "#97cef0";
        }
    }
</script>

<br>
<br>
<br>
<br>

<div class="card card-body bg-light instructions">
	<div style="text-align:center;">
		<b> Summary table </b>
	</div>

	<br>

	<table>
	  <tr>
	  	<th>Decision round {{ round_num }}</th>
	    <th><em>Cumulative payoff<em></th>
	    <th># Collaborators round {{ round_num }}</th>
	    <th># Non-collaborators round {{ round_num }}</th>
	    <th>Tax rate round {{ round_num }}</th>
	  </tr>
	  <tr>
	    <td>{{ my_decision }}</td>
	    <td><em>{{ my_cumulative_payoff }}<em></td>
	    <td>{{ n_C }}</td>
	    <td>{{ n_D }}</td>
	    <td>{{ tax }}%</td>
	  </tr>
	</table>
</div>

<br>
<br>

{% next_button %}

	<!-- <script>
		var ctx = $('#canvas')[0].getContext("2d");
	  	var coords = [ [130,80], [90,40], [110,40], [130,40], [150,40], [170,40] ];
	    var n_C = {{ n_C }};

	    for(var i = 0; i < coords.length; i++) {
	      ctx.beginPath();
	      ctx.arc(coords[i][0], coords[i][1], 5, 0, Math.PI * 2, true);
	      ctx.fill();
	      if (n_C > 0){
	      	ctx.fillStyle = 'orange';
	        n_C = n_C - 1;
	      }
	      else {
	      	ctx.fillStyle = 'blue';
	      }
	    }
	</script> -->
{% endblock %}

{% block styles %}
	<style>
		table {
		  font-family: arial, sans-serif;
		  border-collapse: collapse;
		  width: 100%;
		}

		td, th {
		  border: 1px solid #dddddd;
		  text-align: left;
		  padding: 8px;
		}

		tr:nth-child(even) {
		  background-color: #dddddd;
		}

		#circle_me {
            width: 20px;
            height: 20px;
            -webkit-border-radius: 25px;
            -moz-border-radius: 25px;
            border-radius: 25px;
            background: black;
         }
	</style>
{% endblock %}